In [13]:
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO

In [ ]:
# Assign years

In [14]:
years = list(range(1997,2024))

In [ ]:
# Save webpages with sata as individual html Files

In [6]:
url_1 = "https://www.basketball-reference.com/awards/awards_{}.html"

In [7]:
import requests

for year in years:
    url = url_1.format(year)
    response = requests.get(url)
    
    with open("shares/{}.html".format(year),"w+") as f:
        f.write(response.text)

In [ ]:
# Saving MVP voting data

In [8]:
dfs = []
for year in years:
    with open("shares/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    mvp = soup.find(id="mvp")
    seasons = pd.read_html(StringIO(str(mvp)))[0]

    dfs.append(seasons)

In [10]:
mvp_shares = pd.concat(dfs)
mvp_shares.to_csv("mvp.csv")

In [ ]:
# Import manually edited csv file as new dataframe (removed columns and added season list)

In [15]:
df = pd.read_csv("mvp.csv")

In [16]:
print(list(df.columns))

['Rank', 'Player', 'Age', 'Tm', 'First', 'Pts Won', 'Pts Max', 'Share', 'Season']

In [ ]:
# Calculating MVP Share metric by totalling Share value for each team per season

In [17]:
mvp_shares_per_team_season =df.groupby(['Season', 'Tm'])['Share'].sum().reset_index()
mvp_shares_per_team_season.columns = ['Season', 'Team', 'MVP_Shares']
mvp_shares_per_team_season

     Season Team  MVP_Shares
0      2003  BOS       0.001
1      2003  DAL       0.037
2      2003  DET       0.028
3      2003  LAL       0.523
4      2003  MIN       0.732
..      ...  ...         ...
239    2023  MIL       0.606
240    2023  NYK       0.001
241    2023  OKC       0.046
242    2023  PHI       0.915
243    2023  SAC       0.029

[244 rows x 3 columns]

In [ ]:
# Library of team names based on abbreviations

In [19]:
team_names = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BKN': 'Brooklyn Nets',
    'BRK': 'Brooklyn Nets',
    'CHB': 'Charlotte Bobcats',
    'CHH': 'Charlotte Hornets',
    'CHA': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHX': 'Phoenix Suns',
    'PHO': 'Phoenix Suns',  
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'SEA': 'Seattle SuperSonics',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards',
    'NJN': 'New Jersey Nets',  
    'NOH': 'New Orleans Hornets',  
    'NOK': 'New Orleans/Oklahoma City Hornets' 
}

In [ ]:
# Replacing abbreviated team names with full names

In [20]:
mvp_shares_per_team_season['Team'] = mvp_shares_per_team_season['Team'].replace(team_names)
mvp_shares_per_team_season

     Season                    Team  MVP_Shares
0      2003          Boston Celtics       0.001
1      2003        Dallas Mavericks       0.037
2      2003         Detroit Pistons       0.028
3      2003      Los Angeles Lakers       0.523
4      2003  Minnesota Timberwolves       0.732
..      ...                     ...         ...
239    2023         Milwaukee Bucks       0.606
240    2023         New York Knicks       0.001
241    2023   Oklahoma City Thunder       0.046
242    2023      Philadelphia 76ers       0.915
243    2023        Sacramento Kings       0.029

[244 rows x 3 columns]

In [ ]:
# Drop teams that have the name TOT (This results from players changing teams mid-season, meaning they will have very few MVP votes)

In [92]:
mvp_shares_per_team_season.drop(mvp_shares_per_team_season.index[(mvp_shares_per_team_season["Team"] == "TOT")], axis=0, inplace=True)
mvp_shares_per_team_season

In [ ]:
# Saving as csv and combining with complete dataset

In [94]:
df_new = pd.read_csv("final_regular_season_stats.csv")
combine = df_new.merge(mvp_shares_per_team_season,how='outer', on=["Team", "Season"])
combine

In [ ]:
# Saving All NBA Voting Data

In [101]:
df_1 = []
for year in years:
    with open("shares/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    all_nba = soup.find(id="leading_all_nba")
    all_nba_votes = pd.read_html(StringIO(str(all_nba)))[0]

    df_1.append(all_nba_votes)

In [103]:
all_nba_teams = pd.concat(df_1)
all_nba_teams.to_csv("all_nba_teams.csv")

In [ ]:
# Import manually edited csv file as new dataframe (removed columns and added season list)

In [21]:
all_nba_shares = pd.read_csv("all_nba_teams.csv")

In [22]:
all_nba_shares

    # Tm             Player Team  Pts Won  Pts Max  Share  Season
0    1st         Tim Duncan  SAS    603.0    610.0  0.989  2003.0
1    1st        Kobe Bryant  LAL    599.0    610.0  0.982  2003.0
2    1st      Kevin Garnett  MIN    596.0    610.0  0.977  2003.0
3    1st   Shaquille O'Neal  LAL    593.0    610.0  0.972  2003.0
4    1st      Tracy McGrady  ORL    578.0    610.0  0.948  2003.0
..   ...                ...  ...      ...      ...    ...     ...
877  ORV        Paul George  LAC      1.0    500.0  0.002  2023.0
878  ORV  Tyrese Haliburton  IND      1.0    500.0  0.002  2023.0
879  ORV        Zach LaVine  CHI      1.0    500.0  0.002  2023.0
880  ORV        Brook Lopez  MIL      1.0    500.0  0.002  2023.0
881  ORV         Trae Young  ATL      1.0    500.0  0.002  2023.0

[882 rows x 7 columns]

In [ ]:
# Replace abbreviated team names with full names

In [155]:
all_nba_shares['Team'] = all_nba_shares['Team'].replace(team_names)

In [ ]:
# Drop rows that have null values (rows acting as dividers between tiers of voting) and save as dataframe

In [23]:
new = all_nba_shares.dropna(how='all')
new_new =pd.DataFrame(new)
new_new

    # Tm             Player Team  Pts Won  Pts Max  Share  Season
0    1st         Tim Duncan  SAS    603.0    610.0  0.989  2003.0
1    1st        Kobe Bryant  LAL    599.0    610.0  0.982  2003.0
2    1st      Kevin Garnett  MIN    596.0    610.0  0.977  2003.0
3    1st   Shaquille O'Neal  LAL    593.0    610.0  0.972  2003.0
4    1st      Tracy McGrady  ORL    578.0    610.0  0.948  2003.0
..   ...                ...  ...      ...      ...    ...     ...
877  ORV        Paul George  LAC      1.0    500.0  0.002  2023.0
878  ORV  Tyrese Haliburton  IND      1.0    500.0  0.002  2023.0
879  ORV        Zach LaVine  CHI      1.0    500.0  0.002  2023.0
880  ORV        Brook Lopez  MIL      1.0    500.0  0.002  2023.0
881  ORV         Trae Young  ATL      1.0    500.0  0.002  2023.0

[817 rows x 7 columns]

In [ ]:
# Drop teams that have the name TOT (This results from players changing teams mid-season, meaning they will have very few All NBA votes)

In [160]:
new_new.drop(new_new.index[(new_new["Team"] == "TOT")], axis=0, inplace=True)

In [161]:
new_new

,# Tm,Player,Team,Pts Won,Pts Max,Share,Season
0,1st,Tim Duncan,San Antonio Spurs,603.0,610.0,0.989,2003.0
1,1st,Kobe Bryant,Los Angeles Lakers,599.0,610.0,0.982,2003.0
2,1st,Kevin Garnett,Minnesota Timberwolves,596.0,610.0,0.977,2003.0
3,1st,Shaquille O'Neal,Los Angeles Lakers,593.0,610.0,0.972,2003.0
4,1st,Tracy McGrady,Orlando Magic,578.0,610.0,0.948,2003.0
...,...,...,...,...,...,...,...
877,ORV,Paul George,Los Angeles Clippers,1.0,500.0,0.002,2023.0
878,ORV,Tyrese Haliburton,Indiana Pacers,1.0,500.0,0.002,2023.0
879,ORV,Zach LaVine,Chicago Bulls,1.0,500.0,0.002,2023.0
880,ORV,Brook Lopez,Milwaukee Bucks,1.0,500.0,0.002,2023.0
881,ORV,Trae Young,Atlanta Hawks,1.0,500.0,0.002,2023.0

In [ ]:
# Assigning a weighting system for All NBA votes (Players that are 1st team All NBA usually have a better season and greater impact on team success compared to 2nd team, 3rd team and vote getters that did not win an award (ORV))

In [55]:
rank_weights = {
    '1st': 2,
    '1T': 2,
    '2nd': 1.5,
    '2T': 1.5,
    '3rd': 1,
    '3T': 1,
    'ORV': 0.5
}

In [163]:
new_new['Weighted_Share'] = new_new.apply(lambda row: row['Share'] * rank_weights[row['# Tm']], axis=1)
weighted_all_nba_share_per_team_season = new_new.groupby(['Team', 'Season'])['Weighted_Share'].sum().reset_index()
weighted_all_nba_share_per_team_season

In [ ]:
# Replace abbreviations that were missed in team_name library

In [166]:
weighted_all_nba_share_per_team_season["Team"] = weighted_all_nba_share_per_team_season["Team"].str.replace("CHO", "Charlotte Hornets", regex=False)
weighted_all_nba_share_per_team_season["Team"] = weighted_all_nba_share_per_team_season["Team"].str.replace("NOK", "New Orleans/Oklahoma City Hornets", regex=False)
weighted_all_nba_share_per_team_season

In [ ]:
# Combine dataframes

In [170]:
combine_1 = combine.merge(weighted_all_nba_share_per_team_season,how='outer', on=["Team", "Season"])

In [171]:
combine_1

,Team,G,MP Per Game,FG Per Game,FGA Per Game,3P Per Game,3PA Per Game,2P Per Game,2PA Per Game,FT Per Game,...,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of FGA that are layups,# of layups made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share
0,Atlanta Hawks,82.0,242.7,34.9,78.5,4.9,13.9,30.0,64.5,19.4,...,0.856,0.048,297.0,0.202,647.0,0.276,0.397,0.0,NaN,0.0015
1,Atlanta Hawks,82.0,242.7,34.5,79.6,5.1,15.2,29.4,64.4,18.7,...,0.845,0.045,289.0,0.232,767.0,0.292,0.370,0.0,NaN,NaN
2,Atlanta Hawks,82.0,242.1,35.9,81.4,3.7,11.9,32.2,69.5,17.3,...,0.872,0.056,354.0,0.289,985.0,0.265,0.295,0.0,NaN,NaN
3,Atlanta Hawks,82.0,242.4,35.9,79.2,5.2,14.1,30.8,65.1,20.2,...,0.837,0.047,290.0,0.272,922.0,0.278,0.383,0.0,NaN,0.0015
4,Atlanta Hawks,82.0,242.4,34.5,77.7,4.2,12.7,30.4,65.0,20.5,...,0.833,0.047,273.0,0.284,940.0,0.253,0.373,0.0,NaN,0.0025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [172]:
combine_1.to_csv("combined_stats.csv")

In [ ]:
# Saving Defensive Player of the Year

In [24]:
df_2 = []
for year in years:
    with open("shares/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    defense = soup.find(id="leading_all_defense")
    all_defense_votes = pd.read_html(StringIO(str(defense)))[0]

    df_2.append(all_defense_votes)

In [223]:
all_team_defense = pd.concat(df_2)
all_team_defense.to_csv("all_team_defense.csv")

In [ ]:
# Import manually edited csv file as new dataframe (removed columns and added season list)

In [227]:
atd = pd.read_csv("all_nba_defense.csv")
atd

In [ ]:
# Replace abbreviated team names with full names, drop teams that have the name TOT and null values and save as dataframe

In [229]:
atd['Team'] = atd['Team'].replace(team_names)
atd.drop(atd.index[(atd["Team"] == "TOT")], axis=0, inplace=True)
atd1 = atd.dropna(how='all')

In [235]:
atd_new = pd.DataFrame(atd1)
atd_new

In [ ]:
# Replace abbreviations that were missed in team_name library

In [241]:
atd_new["Team"] = atd_new["Team"].str.replace("NOK", "New Orleans/Oklahoma City Hornets", regex=False)
atd_new["Team"] = atd_new["Team"].str.replace("Charlotte Hornets", "Charlotte Bobcats", regex=False)

In [ ]:
# Assign weighting system for votes (similar idea as All Team NBA)

In [242]:
rank_weights = {
    '1st': 1,
    '2nd': 0.75,
    'ORV': 0.5
}
atd_new['DPOY_Share'] = atd_new.apply(lambda row: row['Share'] * rank_weights[row['#Tm']], axis=1)
dpoy_shares = atd_new.groupby(['Team', 'Season'])['DPOY_Share'].sum().reset_index()
dpoy_shares

In [ ]:
# Combine dataframes and save as csv file

In [244]:
combine_2 = pd.read_csv("combined_stats.csv")

In [245]:
combine_3 = combine_2.merge(dpoy_shares, how='outer',on=["Team", "Season"])

In [246]:
combine_3

,Unnamed: 0,Team,G,MP Per Game,FG Per Game,FGA Per Game,3P Per Game,3PA Per Game,2P Per Game,2PA Per Game,...,% of FGA that are dunks,Dunks Made,% of FGA that are layups,# of layups made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share,DPOY_Share
0,0.0,Atlanta Hawks,82.0,242.7,34.9,78.5,4.9,13.9,30.0,64.5,...,0.048,297.0,0.202,647.0,0.276,0.397,0.0000,NaN,0.0015,0.0690
1,1.0,Atlanta Hawks,82.0,242.7,34.5,79.6,5.1,15.2,29.4,64.4,...,0.045,289.0,0.232,767.0,0.292,0.370,0.0000,NaN,NaN,NaN
2,2.0,Atlanta Hawks,82.0,242.1,35.9,81.4,3.7,11.9,32.2,69.5,...,0.056,354.0,0.289,985.0,0.265,0.295,0.0000,NaN,NaN,NaN
3,3.0,Atlanta Hawks,82.0,242.4,35.9,79.2,5.2,14.1,30.8,65.1,...,0.047,290.0,0.272,922.0,0.278,0.383,0.0000,NaN,0.0015,NaN
4,4.0,Atlanta Hawks,82.0,242.4,34.5,77.7,4.2,12.7,30.4,65.0,...,0.047,273.0,0.284,940.0,0.253,0.373,0.0000,NaN,0.0025,0.0335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,625.0,Washington Wizards,82.0,243.0,42.1,90.1,11.3,33.3,30.8,56.8,...,0.067,454.0,0.282,1210.0,0.213,0.360,0.0000,NaN,0.0340,0.0025
627,626.0,Washington Wizards,72.0,241.0,41.5,90.9,12.0,32.6,29.5,58.3,...,0.047,276.0,0.285,1029.0,0.167,0.388,0.0000,NaN,0.0320,NaN
628,627.0,Washington Wizards,72.0,241.7,43.2,90.9,10.2,29.0,33.0,61.9,...,0.055,320.0,0.299,1074.0,0.231,0.369,0.0625,0.005,0.1860,0.0025
629,628.0,Washington Wizards,82.0,241.8,40.6,86.0,10.5,30.6,30.1,55.4,...,0.065,408.0,0.280,1135.0,0.246,0.397,0.0000,NaN,NaN,NaN
630,629.0,Washington Wizards,82.0,240.9,42.1,86.9,11.3,31.7,30.9,55.2,...,0.059,377.0,0.272,1118.0,0.215,0.399,0.0000,NaN,NaN,0.0025

In [247]:
combine_3.to_csv("combined_stats_1.csv")

In [1]:
years1 = list(range(1997,2003))

In [2]:
years1

[1997, 1998, 1999, 2000, 2001, 2002]

In [11]:
dfs1 = []
for year in years1:
    with open("shares/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    mvp = soup.find(id="mvp")
    seasons = pd.read_html(StringIO(str(mvp)))[0]

    dfs1.append(seasons)

In [12]:
dfs1

[   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rank             Player                Age
 0                   1        Karl Malone                 33
 1                   2     Michael Jordan                 33
 2                   3         Grant Hill                 24
 3                   4       Tim Hardaway                 30
 4                   5          Glen Rice                 29
 5                   6        Gary Payton                 28
 6                   7    Hakeem Olajuwon                 34
 7                   8      Patrick Ewing                 34
 8                  9T      Anthony Mason                 30
 9                  9T   Shaquille O'Neal                 24
 10                 11     Scottie Pippen                 31
 11                 12    Alonzo Mourning                 26
 12                13T    Dikembe Mutombo                 30
 13                13T     Mitch Richmond                 31
 14                 15      John Stockton                 34
 15                 16    Charles Barkley                 33
 16                17T      Tom Gugliotta                 27
 17                17T      Allen Iverson                 21
 18                17T      Kevin Johnson                 30
 19                17T        Steve Smith                 27

    Unnamed: 3_level_0 Voting                        Unnamed: 8_level_0  \
                    Tm  First Pts Won Pts Max  Share                  G
 0                 UTA   63.0   986.0    1150  0.857                 82
 1                 CHI   52.0   957.0    1150  0.832                 82
 2                 DET    0.0   376.0    1150  0.327                 80
 3                 MIA    0.0   238.0    1150  0.207                 81
 4                 CHH    0.0   134.0    1150  0.117                 79
 5                 SEA    0.0   105.0    1150  0.091                 82
 6                 HOU    0.0    95.0    1150  0.083                 78
 7                 NYK    0.0    57.0    1150  0.050                 78
 8                 CHH    0.0     7.0    1150  0.006                 73
 9                 LAL    0.0     7.0    1150  0.006                 51
 10                CHI    0.0     6.0    1150  0.005                 82
 11                MIA    0.0     5.0    1150  0.004                 66
 12                ATL    0.0     4.0    1150  0.003                 80
 13                SAC    0.0     4.0    1150  0.003                 81
 14                UTA    0.0     3.0    1150  0.003                 82
 15                HOU    0.0     2.0    1150  0.002                 53
 16                MIN    0.0     1.0    1150  0.001                 81
 17                PHI    0.0     1.0    1150  0.001                 76
 18                PHO    0.0     1.0    1150  0.001                 70
 19                ATL    0.0     1.0    1150  0.001                 72

    Per Game                             Shooting               Advanced
          MP   PTS   TRB   AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
 0      36.6  27.4   9.9   4.5  1.4  0.6    0.550  0.000  0.755     16.7  0.268
 1      37.9  29.6   5.9   4.3  1.7  0.5    0.486  0.374  0.833     18.3  0.283
 2      39.3  21.4   9.0   7.3  1.8  0.6    0.496  0.303  0.711     14.6  0.223
 3      38.7  20.3   3.4   8.6  1.9  0.1    0.415  0.344  0.799     12.9  0.198
 4      42.6  26.8   4.0   2.0  0.9  0.3    0.477  0.470  0.867     10.8  0.154
 5      39.2  21.8   4.6   7.1  2.4  0.2    0.476  0.313  0.715     12.9  0.193
 6      36.6  23.2   9.2   3.0  1.5  2.2    0.510  0.313  0.787      9.1  0.154
 7      37.0  22.4  10.7   2.0  0.9  2.4    0.488  0.222  0.754      9.8  0.163
 8      43.1  16.2  11.4   5.7  1.0  0.5    0.525  0.333  0.745     11.4  0.173
 9      38.1  26.2  12.5   3.1  0.9  2.9    0.557  0.000  0.484      8.0  0.197
 10     37.7  20.2   6.5   5.7  1.9  0.5    0.474  0.368  0.701     13.1  0.203
 11     35.2  19.8   9.9   1.6  0.8  2.9    0.534  0.111  0.642      8.4  0.174
 12     37.2  13.3  11.6   1.4  0.6  3.3    0.527    NaN  0.705     11.3  0.183
 13     38.6  25.9   3.9   4.2  1.5  0.3    0.454  0.428  0.861     10.8  0.166
 14     35.3  14.4   2.8  10.5  2.0  0.2    0.548  0.422  0.846     13.6  0.226
 15     37.9  19.2  13.5   4.7  1.3  0.5    0.484  0.283  0.694      9.4  0.224
 16     38.7  20.6   8.7   4.1  1.6  1.1    0.442  0.258  0.820      6.7  0.103
 17     40.1  23.5   4.1   7.5  2.1  0.3    0.416  0.341  0.702      4.1  0.065
 18     38.0  20.1   3.6   9.3  1.5  0.2    0.496  0.441  0.852     11.7  0.211
 19     39.1  20.1   3.3   4.2  0.9  0.3    0.429  0.335  0.847      9.1  0.154  ,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rank             Player                Age
 0                   1     Michael Jordan                 34
 1                   2        Karl Malone                 34
 2                   3        Gary Payton                 29
 3                   4   Shaquille O'Neal                 25
 4                   5         Tim Duncan                 21
 5                   6       Tim Hardaway                 31
 6                   7     David Robinson                 32
 7                   8          Vin Baker                 26
 8                   9         Grant Hill                 25
 9                  10     Scottie Pippen                 32
 10                 11          Glen Rice                 30
 11                 12     Antoine Walker                 21
 12                13T         Jason Kidd                 24
 13                13T      John Stockton                 35
 14                 15     Mitch Richmond                 32
 15                16T      Reggie Miller                 32
 16                16T          Rik Smits                 31
 17                18T     Michael Finley                 24
 18                18T     Rod Strickland                 31

    Unnamed: 3_level_0 Voting                        Unnamed: 8_level_0  \
                    Tm  First Pts Won Pts Max  Share                  G
 0                 CHI   92.0  1084.0    1160  0.934                 82
 1                 UTA   20.0   842.0    1160  0.726                 81
 2                 SEA    3.0   431.0    1160  0.372                 82
 3                 LAL    1.0   311.0    1160  0.268                 60
 4                 SAS    0.0   148.0    1160  0.128                 82
 5                 MIA    0.0    71.0    1160  0.061                 81
 6                 SAS    0.0    36.0    1160  0.031                 73
 7                 SEA    0.0    24.0    1160  0.021                 82
 8                 DET    0.0    23.0    1160  0.020                 81
 9                 CHI    0.0    14.0    1160  0.012                 44
 10                CHH    0.0     7.0    1160  0.006                 82
 11                BOS    0.0     6.0    1160  0.005                 82
 12                PHO    0.0     5.0    1160  0.004                 82
 13                UTA    0.0     5.0    1160  0.004                 64
 14                SAC    0.0     3.0    1160  0.003                 70
 15                IND    0.0     2.0    1160  0.002                 81
 16                IND    0.0     2.0    1160  0.002                 73
 17                DAL    0.0     1.0    1160  0.001                 82
 18                WAS    0.0     1.0    1160  0.001                 76

    Per Game                             Shooting               Advanced
          MP   PTS   TRB   AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
 0      38.8  28.7   5.8   3.5  1.7  0.5    0.465  0.238  0.784     15.8  0.238
 1      37.4  27.0  10.3   3.9  1.2  0.9    0.530  0.333  0.761     16.4  0.259
 2      38.4  19.2   4.6   8.3  2.3  0.2    0.453  0.338  0.744     12.5  0.190
 3      36.3  28.3  11.4   2.4  0.7  2.4    0.584    NaN  0.527     10.2  0.224
 4      39.1  21.1  11.9   2.7  0.7  2.5    0.549  0.000  0.662     12.8  0.192
 5      37.4  18.9   3.7   8.3  1.7  0.2    0.431  0.351  0.781     11.7  0.185
 6      33.7  21.6  10.6   2.7  0.9  2.6    0.511  0.250  0.735     13.8  0.269
 7      35.9  19.2   8.0   1.9  1.1  1.0    0.542  0.143  0.591     10.4  0.169
 8      40.7  21.1   7.7   6.8  1.8  0.7    0.452  0.143  0.740     10.2  0.149
 9      37.5  19.1   5.2   5.8  1.8  1.0    0.447  0.318  0.777      6.6  0.193
 10     40.2  22.3   4.3   2.2  0.9  0.3    0.457  0.433  0.849      9.3  0.136
 11     39.9  22.4  10.2   3.3  1.7  0.7    0.423  0.312  0.645      4.7  0.070
 12     38.0  11.6   6.2   9.1  2.0  0.3    0.416  0.313  0.799      8.0  0.123
 13     29.0  12.0   2.6   8.5  1.4  0.2    0.528  0.429  0.827      8.0  0.206
 14     36.7  23.2   3.3   4.0  1.3  0.2    0.445  0.389  0.864      7.9  0.148
 15     34.5  19.5   2.9   2.1  1.0  0.1    0.477  0.429  0.868     12.0  0.206
 16     28.6  16.7   6.9   1.4  0.5  1.2    0.495  0.000  0.783      6.1  0.141
 17     41.4  21.5   5.3   4.9  1.6  0.4    0.449  0.357  0.784      7.5  0.106
 18     39.7  17.8   5.3  10.5  1.7  0.3    0.434  0.250  0.726      8.1  0.129  ,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rank             Player                Age
 0                   1        Karl Malone                 35
 1                   2    Alonzo Mourning                 28
 2                   3         Tim Duncan                 22
 3                   4      Allen Iverson                 23
 4                   5         Jason Kidd                 25
 5                   6   Shaquille O'Neal                 26
 6                   7       Chris Webber                 25
 7                   8         Grant Hill                 26
 8                   9        Gary Payton                 30
 9                  10      Kevin Garnett                 22
 10                 11         Shawn Kemp                 29
 11                 12     David Robinson                 33
 12                13T    Hakeem Olajuwon                 36
 13                13T    Arvydas Sabonis                 34
 14                 15  Darrell Armstrong                 30
 15                16T       Vince Carter                 22
 16                16T  Anfernee Hardaway                 27
 17                16T       Mark Jackson                 33
 18                16T     Glenn Robinson                 26
 19                16T        Steve Smith                 29
 20                16T    Rasheed Wallace                 24

    Unnamed: 3_level_0 Voting                        Unnamed: 8_level_0  \
                    Tm  First Pts Won Pts Max  Share                  G
 0                 UTA   44.0   827.0    1180  0.701                 49
 1                 MIA   36.0   773.0    1180  0.655                 46
 2                 SAS   30.0   740.0    1180  0.627                 50
 3                 PHI    5.0   319.0    1180  0.270                 48
 4                 PHO    2.0   159.0    1180  0.135                 50
 5                 LAL    1.0    89.0    1180  0.075                 49
 6                 SAC    0.0    51.0    1180  0.043                 42
 7                 DET    0.0    39.0    1180  0.033                 50
 8                 SEA    0.0    35.0    1180  0.030                 50
 9                 MIN    0.0     9.0    1180  0.008                 47
 10                CLE    0.0     7.0    1180  0.006                 42
 11                SAS    0.0     6.0    1180  0.005                 49
 12                HOU    0.0     3.0    1180  0.003                 50
 13                POR    0.0     3.0    1180  0.003                 50
 14                ORL    0.0     2.0    1180  0.002                 50
 15                TOR    0.0     1.0    1180  0.001                 50
 16                ORL    0.0     1.0    1180  0.001                 50
 17                IND    0.0     1.0    1180  0.001                 49
 18                MIL    0.0     1.0    1180  0.001                 47
 19                ATL    0.0     1.0    1180  0.001                 36
 20                POR    0.0     1.0    1180  0.001                 49

    Per Game                             Shooting               Advanced
          MP   PTS   TRB   AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
 0      37.4  23.8   9.4   4.1  1.3  0.6    0.493  0.000  0.788      9.6  0.252
 1      38.1  20.1  11.0   1.6  0.7  3.9    0.511  0.000  0.652      7.9  0.216
 2      39.3  21.7  11.4   2.4  0.9  2.5    0.495  0.143  0.690      8.7  0.213
 3      41.5  26.8   4.9   4.6  2.3  0.1    0.412  0.291  0.751      7.2  0.173
 4      41.2  16.9   6.8  10.8  2.3  0.4    0.444  0.366  0.757      8.1  0.188
 5      34.8  26.3  10.7   2.3  0.7  1.7    0.576  0.000  0.540      9.0  0.255
 6      40.9  20.0  13.0   4.1  1.4  2.1    0.486  0.118  0.454      3.6  0.102
 7      37.0  21.1   7.1   6.0  1.6  0.5    0.479  0.000  0.752      7.3  0.189
 8      40.2  21.7   4.9   8.7  2.2  0.2    0.434  0.295  0.721      7.2  0.172
 9      37.9  20.8  10.4   4.3  1.7  1.8    0.460  0.286  0.704      5.4  0.146
 10     35.1  20.5   9.2   2.4  1.1  1.1    0.482  0.500  0.789      6.3  0.205
 11     31.7  15.8  10.0   2.1  1.4  2.4    0.509  0.000  0.658      8.4  0.261
 12     35.7  18.9   9.6   1.8  1.6  2.5    0.514  0.308  0.717      6.5  0.175
 13     27.0  12.1   7.9   2.4  0.7  1.3    0.485  0.292  0.771      5.8  0.207
 14     30.0  13.8   3.6   6.7  2.2  0.1    0.441  0.365  0.904      6.4  0.205
 15     35.2  18.3   5.7   3.0  1.1  1.5    0.450  0.288  0.761      5.0  0.136
 16     38.9  15.8   5.7   5.3  2.2  0.5    0.420  0.286  0.706      5.0  0.122
 17     28.2   7.6   3.8   7.9  0.9  0.1    0.419  0.311  0.823      3.8  0.134
 18     33.6  18.4   5.9   2.1  1.0  0.9    0.459  0.392  0.870      4.0  0.122
 19     36.5  18.7   4.2   3.3  1.0  0.3    0.402  0.338  0.849      4.4  0.162
 20     28.9  12.8   4.9   1.2  1.0  1.1    0.508  0.419  0.732      5.0  0.169  ,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rank             Player                Age
 0                   1   Shaquille O'Neal                 27
 1                   2      Kevin Garnett                 23
 2                   3    Alonzo Mourning                 29
 3                   4        Karl Malone                 36
 4                   5         Tim Duncan                 23
 5                   6        Gary Payton                 31
 6                   7      Allen Iverson                 24
 7                   8         Grant Hill                 27
 8                   9       Chris Webber                 26
 9                  10       Vince Carter                 23
 10                 11         Jason Kidd                 26
 11                 12        Kobe Bryant                 21
 12                13T  Darrell Armstrong                 31
 13                13T     Michael Finley                 26
 14                13T      Reggie Miller                 34
 15                13T         Jalen Rose                 27

    Unnamed: 3_level_0 Voting                        Unnamed: 8_level_0  \
                    Tm  First Pts Won Pts Max  Share                  G
 0                 LAL  120.0  1207.0    1210  0.998                 79
 1                 MIN    0.0   408.0    1210  0.337                 81
 2                 MIA    0.0   367.0    1210  0.303                 79
 3                 UTA    0.0   312.0    1210  0.258                 82
 4                 SAS    0.0   248.0    1210  0.205                 74
 5                 SEA    0.0   180.0    1210  0.149                 82
 6                 PHI    1.0   132.0    1210  0.109                 70
 7                 DET    0.0   113.0    1210  0.093                 74
 8                 SAC    0.0    96.0    1210  0.079                 75
 9                 TOR    0.0    51.0    1210  0.042                 82
 10                PHO    0.0    25.0    1210  0.021                 67
 11                LAL    0.0     3.0    1210  0.002                 66
 12                ORL    0.0     1.0    1210  0.001                 82
 13                DAL    0.0     1.0    1210  0.001                 82
 14                IND    0.0     1.0    1210  0.001                 81
 15                IND    0.0     1.0    1210  0.001                 80

    Per Game                             Shooting               Advanced
          MP   PTS   TRB   AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
 0      40.0  29.7  13.6   3.8  0.5  3.0    0.574  0.000  0.524     18.6  0.283
 1      40.0  22.9  11.8   5.0  1.5  1.6    0.497  0.370  0.765     11.6  0.172
 2      34.8  21.7   9.5   1.6  0.5  3.7    0.551  0.000  0.711     12.9  0.226
 3      35.9  25.5   9.5   3.7  1.0  0.9    0.509  0.250  0.797     15.3  0.249
 4      38.9  23.2  12.4   3.2  0.9  2.2    0.490  0.091  0.761     13.0  0.218
 5      41.8  24.2   6.5   8.9  1.9  0.2    0.448  0.340  0.735     13.9  0.195
 6      40.8  28.4   3.8   4.7  2.1  0.1    0.421  0.341  0.713      6.9  0.116
 7      37.5  25.8   6.6   5.2  1.4  0.6    0.489  0.347  0.795     10.7  0.185
 8      38.4  24.5  10.5   4.6  1.6  1.7    0.483  0.284  0.751     10.7  0.179
 9      38.1  25.7   5.8   3.9  1.3  1.1    0.465  0.403  0.791     11.8  0.182
 10     39.0  14.3   7.2  10.1  2.0  0.4    0.409  0.337  0.829      8.5  0.156
 11     38.2  22.5   6.3   4.9  1.6  0.9    0.468  0.319  0.821     10.6  0.202
 12     31.6  16.2   3.3   6.1  2.1  0.1    0.433  0.340  0.911      8.0  0.149
 13     42.2  22.6   6.3   5.3  1.3  0.4    0.457  0.401  0.820      8.3  0.114
 14     36.9  18.1   3.0   2.3  1.0  0.3    0.448  0.408  0.919     10.1  0.162
 15     37.2  18.2   4.8   4.0  1.1  0.6    0.471  0.393  0.827      7.3  0.118  ,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rank             Player                Age
 0                   1      Allen Iverson                 25
 1                   2         Tim Duncan                 24
 2                   3   Shaquille O'Neal                 28
 3                   4       Chris Webber                 27
 4                   5      Kevin Garnett                 24
 5                   6      Tracy McGrady                 21
 6                   7        Karl Malone                 37
 7                   8         Jason Kidd                 27
 8                   9        Kobe Bryant                 22
 9                  10     David Robinson                 35
 10                11T          Ray Allen                 25
 11                11T       Vince Carter                 24
 12                 13        Paul Pierce                 23
 13                 14   Jerry Stackhouse                 26
 14                15T     Michael Finley                 27
 15                15T      Anthony Mason                 34
 16                15T      John Stockton                 38

    Unnamed: 3_level_0 Voting                        Unnamed: 8_level_0  \
                    Tm  First Pts Won Pts Max  Share                  G
 0                 PHI   93.0  1121.0    1240  0.904                 71
 1                 SAS   18.0   706.0    1240  0.569                 82
 2                 LAL    7.0   578.0    1240  0.466                 74
 3                 SAC    5.0   521.0    1240  0.420                 70
 4                 MIN    1.0   151.0    1240  0.122                 81
 5                 ORL    0.0    64.0    1240  0.052                 77
 6                 UTA    0.0    21.0    1240  0.017                 81
 7                 PHO    0.0    18.0    1240  0.015                 77
 8                 LAL    0.0    11.0    1240  0.009                 68
 9                 SAS    0.0     8.0    1240  0.006                 80

In [13]:
mvp_shares_new = pd.concat(dfs1)

In [18]:
mvp_shares_new.to_csv("mvp_shares_new.csv")

In [30]:
df = pd.read_csv("mvp_shares_new_1.csv")

In [31]:
mvp_shares_per_season = df.groupby(['Season', 'Team'])['Share'].sum().reset_index()
mvp_shares_per_season.columns = ['Season', 'Team', 'MVP_Shares']

In [32]:
mvp_shares_per_season

    Season Team  MVP_Shares
0     1997  ATL       0.004
1     1997  CHH       0.123
2     1997  CHI       0.837
3     1997  DET       0.327
4     1997  HOU       0.085
..     ...  ...         ...
82    2002  PHI       0.023
83    2002  SAC       0.031
84    2002  SAS       0.757
85    2002  SEA       0.043
86    2002  WAS       0.013

[87 rows x 3 columns]

In [33]:
mvp_shares_per_season['Team'] = mvp_shares_per_season['Team'].replace(team_names)

In [34]:
mvp_shares_per_season

    Season                 Team  MVP_Shares
0     1997        Atlanta Hawks       0.004
1     1997    Charlotte Hornets       0.123
2     1997        Chicago Bulls       0.837
3     1997      Detroit Pistons       0.327
4     1997      Houston Rockets       0.085
..     ...                  ...         ...
82    2002   Philadelphia 76ers       0.023
83    2002     Sacramento Kings       0.031
84    2002    San Antonio Spurs       0.757
85    2002  Seattle SuperSonics       0.043
86    2002   Washington Wizards       0.013

[87 rows x 3 columns]

In [35]:
df1 = pd.read_csv("97-02.csv")

In [36]:
combine1 = df1.merge(mvp_shares_per_season,how='outer', on=["Team", "Season"])

In [37]:
combine1

,Team,G,MP Per Game,FG Per Game,FGA Per Game,FG%,3P Per Game,3PA Per Game,3P%,2P Per Game,...,10-16 feet FG%,16 feet - 3P FG%,% of 2P's that were assisted,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares
0,Atlanta Hawks,82,241.5,34.3,76.9,0.446,8.0,22.4,0.359,26.3,...,0.344,0.470,0.505,0.712,0.043,259,0.146,0.410,0.266667,0.004
1,Atlanta Hawks,82,242.4,35.2,77.5,0.455,4.1,12.4,0.332,31.1,...,0.361,0.459,0.516,0.748,0.054,304,0.102,0.288,0.066667,NaN
2,Atlanta Hawks,50,241.5,30.8,75.2,0.409,3.9,12.9,0.306,26.8,...,0.330,0.392,0.477,0.716,0.037,126,0.092,0.322,0.200000,0.001
3,Atlanta Hawks,82,241.8,36.6,83.0,0.441,3.1,9.9,0.317,33.4,...,0.361,0.442,0.489,0.806,0.038,236,0.128,0.452,0.000000,NaN
4,Atlanta Hawks,82,240.6,35.1,81.3,0.431,4.1,11.4,0.357,31.0,...,0.387,0.403,0.507,0.811,0.037,224,0.228,0.371,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Washington Wizards,82,241.5,37.6,83.1,0.452,3.9,11.5,0.339,33.7,...,0.353,0.454,0.589,0.853,0.061,394,0.230,0.364,0.000000,0.001
170,Washington Wizards,50,241.0,35.4,79.4,0.445,3.6,11.6,0.309,31.8,...,0.392,0.435,0.578,0.810,0.036,132,0.198,0.322,0.000000,NaN
171,Washington Wizards,82,241.5,36.7,81.5,0.451,4.1,10.9,0.376,32.6,...,0.375,0.445,0.558,0.833,0.048,300,0.204,0.462,0.000000,NaN
172,Washington Wizards,82,240.0,34.5,78.7,0.439,3.4,10.3,0.324,31.2,...,0.397,0.415,0.563,0.753,0.030,177,0.216,0.361,0.000000,NaN
173,Washington Wizards,82,240.6,35.8,81.3,0.441,3.7,9.6,0.388,32.1,...,0.394,0.422,0.561,0.784,0.041,267,0.168,0.439,0.000000,0.013

In [38]:
dfs2 = []
for year in years1:
    with open("shares/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    all_nba = soup.find(id="leading_all_nba")
    all_nba_votes = pd.read_html(StringIO(str(all_nba)))[0]

    dfs2.append(all_nba_votes)

In [39]:
dfs2

[   Unnamed: 0_level_0 Unnamed: 1_level_0  Unnamed: 2_level_0  \
                  # Tm                Pos              Player
 0                 1st                  G      Michael Jordan
 1                 1st                  F         Karl Malone
 2                 1st                  C     Hakeem Olajuwon
 3                 1st                  F          Grant Hill
 4                 1st                  G        Tim Hardaway
 5                 NaN                NaN                 NaN
 6                 2nd                  G         Gary Payton
 7                 2nd                  F      Scottie Pippen
 8                 2nd                  C       Patrick Ewing
 9                 2nd                  F           Glen Rice
 10                2nd                  G      Mitch Richmond
 11                NaN                NaN                 NaN
 12                3rd                  G       John Stockton
 13                3rd                  F       Anthony Mason
 14                3rd                  C    Shaquille O'Neal
 15                3rd                  G   Anfernee Hardaway
 16                3rd                  F           Vin Baker
 17                NaN                NaN                 NaN
 18                ORV                  C     Alonzo Mourning
 19                ORV                  F       Tom Gugliotta
 20                ORV                  G     Mookie Blaylock
 21                ORV                  G       Kevin Johnson
 22                ORV                  C     Dikembe Mutombo
 23                ORV                  F     Charles Barkley
 24                ORV                  G    Latrell Sprewell
 25                ORV                  G     Terrell Brandon
 26                ORV                  F        Chris Webber
 27                ORV                  G         Eddie Jones
 28                ORV                  F  Christian Laettner
 29                ORV                  G        Mark Jackson
 30                ORV                  F          Shawn Kemp
 31                ORV                  G         Steve Smith
 32                ORV                  G       Reggie Miller
 33                ORV                  F       Dennis Rodman
 34                ORV                  G    Damon Stoudamire
 35                ORV                  G      Rod Strickland
 36                ORV                  G      Kenny Anderson
 37                ORV                  F       Kevin Garnett
 38                ORV                  G       Allen Iverson
 39                ORV                  F          Loy Vaught
 40                ORV                  G       Nick Van Exel
 41                ORV                  G        Kendall Gill
 42                ORV                  G          Jason Kidd
 43                ORV                  F   Clifford Robinson
 44                ORV                  F      Glenn Robinson
 45                ORV                  F      Antoine Walker

    Unnamed: 3_level_0 Unnamed: 4_level_0  Voting                               \
                   Age                 Tm Pts Won Pts Max  Share 1st Tm 2nd Tm
 0                33.0                CHI   575.0   575.0  1.000  115.0    0.0
 1                33.0                UTA   575.0   575.0  1.000  115.0    0.0
 2                34.0                HOU   514.0   575.0  0.894   89.0    NaN
 3                24.0                DET   483.0   575.0  0.840   76.0    NaN
 4                30.0                MIA   435.0   575.0  0.757   62.0    NaN
 5                 NaN                NaN     NaN     NaN    NaN    NaN    NaN
 6                28.0                SEA   386.0   575.0  0.671   42.0    NaN
 7                31.0                CHI   337.0   575.0  0.586   19.0    NaN
 8                34.0                NYK   327.0   575.0  0.569   20.0    NaN
 9                29.0                CHH   316.0   575.0  0.550   20.0    NaN
 10               31.0                SAC   198.0   575.0  0.344    1.0    NaN
 11                NaN                NaN     NaN     NaN    NaN    NaN    NaN
 12               34.0                UTA   142.0   575.0  0.247    6.0    NaN
 13               30.0                CHH   110.0   575.0  0.191    0.0    NaN
 14               24.0                LAL    72.0   575.0  0.125    3.0    NaN
 15               25.0                ORL    62.0   575.0  0.108    2.0    NaN
 16               25.0                MIL    61.0   575.0  0.106    0.0    NaN
 17                NaN                NaN     NaN     NaN    NaN    NaN    NaN
 18               26.0                MIA    67.0   575.0  0.117    0.0    NaN
 19               27.0                MIN    60.0   575.0  0.104    0.0    NaN
 20               29.0                ATL    57.0   575.0  0.099    1.0    NaN
 21               30.0                PHO    57.0   575.0  0.099    1.0    NaN
 22               30.0                ATL    55.0   575.0  0.096    3.0    NaN
 23               33.0                HOU    47.0   575.0  0.082    0.0    NaN
 24               26.0                GSW    44.0   575.0  0.077    0.0    NaN
 25               26.0                CLE    30.0   575.0  0.052    0.0    NaN
 26               23.0                WSB    29.0   575.0  0.050    0.0    NaN
 27               25.0                LAL    25.0   575.0  0.043    0.0    NaN
 28               27.0                ATL    20.0   575.0  0.035    0.0    NaN
 29               31.0                TOT    11.0   575.0  0.019    0.0    NaN
 30               27.0                SEA    11.0   575.0  0.019    0.0    NaN
 31               27.0                ATL    11.0   575.0  0.019    0.0    NaN
 32               31.0                IND     9.0   575.0  0.016    0.0    NaN
 33               35.0                CHI     9.0   575.0  0.016    0.0    NaN
 34               23.0                TOR     8.0   575.0  0.014    0.0    NaN
 35               30.0                WSB     7.0   575.0  0.012    0.0    NaN
 36               26.0                POR     6.0   575.0  0.010    0.0    NaN
 37               20.0                MIN     6.0   575.0  0.010    0.0    NaN
 38               21.0                PHI     3.0   575.0  0.005    0.0    NaN
 39               28.0                LAC     3.0   575.0  0.005    0.0    NaN
 40               25.0                LAL     2.0   575.0  0.003    0.0    0.0
 41               28.0                NJN     1.0   575.0  0.002    0.0    0.0
 42               23.0                TOT     1.0   575.0  0.002    0.0    0.0
 43               30.0                POR     1.0   575.0  0.002    0.0    0.0
 44               24.0                MIL     1.0   575.0  0.002    0.0    0.0
 45               20.0                BOS     1.0   575.0  0.002    0.0    0.0

     ... Per Game                       Shooting               Advanced
     ...      PTS   TRB   AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
 0   ...     29.6   5.9   4.3  1.7  0.5    0.486  0.374  0.833     18.3  0.283
 1   ...     27.4   9.9   4.5  1.4  0.6    0.550  0.000  0.755     16.7  0.268
 2   ...     23.2   9.2   3.0  1.5  2.2    0.510  0.313  0.787      9.1  0.154
 3   ...     21.4   9.0   7.3  1.8  0.6    0.496  0.303  0.711     14.6  0.223
 4   ...     20.3   3.4   8.6  1.9  0.1    0.415  0.344  0.799     12.9  0.198
 5   ...      NaN   NaN   NaN  NaN  NaN      NaN    NaN    NaN      NaN    NaN
 6   ...     21.8   4.6   7.1  2.4  0.2    0.476  0.313  0.715     12.9  0.193
 7   ...     20.2   6.5   5.7  1.9  0.5    0.474  0.368  0.701     13.1  0.203
 8   ...     22.4  10.7   2.0  0.9  2.4    0.488  0.222  0.754      9.8  0.163
 9   ...     26.8   4.0   2.0  0.9  0.3    0.477  0.470  0.867     10.8  0.154
 10  ...     25.9   3.9   4.2  1.5  0.3    0.454  0.428  0.861     10.8  0.166
 11  ...      NaN   NaN   NaN  NaN  NaN      NaN    NaN    NaN      NaN    NaN
 12  ...     14.4   2.8  10.5  2.0  0.2    0.548  0.422  0.846     13.6  0.226
 13  ...     16.2  11.4   5.7  1.0  0.5    0.525  0.333  0.745     11.4  0.173
 14  ...     26.2  12.5   3.1  0.9  2.9    0.557  0.000  0.484      8.0  0.197
 15  ...     20.5   4.5   5.6  1.6  0.6    0.447  0.318  0.820      8.1  0.175
 16  ...     21.0  10.3   2.7  1.0  1.4    0.505  0.278  0.687      8.3  0.127
 17  ...      NaN   NaN   NaN  NaN  NaN      NaN    NaN    NaN      NaN    NaN
 18  ...     19.8   9.9   1.6  0.8  2.9    0.534  0.111  0.642      8.4  0.174
 19  ...     20.6   8.7   4.1  1.6  1.1    0.442  0.258  0.820      6.7  0.103
 20  ...     17.4   5.3   5.9  2.7  0.3    0.432  0.366  0.753     12.5  0.197
 21  ...     20.1   3.6   9.3  1.5  0.2    0.496  0.441  0.852     11.7  0.211
 22  ...     13.3  11.6   1.4  0.6  3.3    0.527    NaN  0.705     11.3  0.183
 23  ...     19.2  13.5   4.7  1.3  0.5    0.484  0.283  0.694      9.4  0.224
 24  ...     24.2   4.6   6.3  1.7  0.6    0.449  0.354  0.843      8.1  0.115
 25  ...     19.5   3.9   6.3  1.8  0.4    0.438  0.373  0.902     10.8  0.181
 26  ...     20.1  10.3   4.6  1.7  1.9    0.518  0.397  0.565      9.3  0.159
 27  ...     17.2   4.1   3.4  2.4  0.6    0.438  0.391  0.819      9.6  0.154
 28  ...     18.1   8.8   2.7  1.2  0.8    0.486  0.352  0.816     11.6  0.177
 29  ...      9.9   4.8  11.4  1.2  0.1    0.426  0.371  0.789      6.1  0.097
 30  ...     18.7  10.0   1.9  1.5  1.0    0.510  0.364  0.742     10.0  0.174
 31  ...     20.1   3.3   4.2  0.9  0.3    0.429  0.335  0.847      9.1  0.154
 32  ...     21.6   3.5   3.4  0.9  0.3    0.444  0.427  0.880     12.3  0.200
 33  ...      5.7  16.1   3.1  0.6  0.3    0.448  0.263  0.568      6.0  0.148
 34  ...     20.2   4.1   8.8  1.5  0.2    0.401  0.355  0.823      7.6  0.110
 35  ...     17.2   4.1   8.9  1.7  0.2    0.466  0.169  0.738      8.8  0.141
 36  ...     17.5   4.4   7.1  2.0  0.2    0.427  0.361  0.768     12.4  0.193
 37  ...     17.0   8.0   3.1  1.4  2.1    0.499  0.286  0.754      7.3  0.116
 38  ...     23.5   4.1   7.5  2.1  0.3    0.416  0.341  0.702      4.1  0.065
 39  ...     14.9  10.0   1.3  1.0  0.3    0.500  0.167  0.702      6.3  0.106
 40  ...     15.3   2.9   8.5  0.9  0.1    0.402  0.378  0.825      7.2  0.118
 41  ...     21.8   6.1   4.0  1.9  0.6    0.443  0.336  0.797      8.8  0.132
 42  ...     10.9   4.5   9.0  2.3  0.4    0.403  0.370  0.679      4.4  0.107
 43  ...     15.1   4.0   3.2  1.2  0.8    0.426  0.346  0.696      6.6  0.103
 44  ...     21.1   6.3   3.1  1.3  0.9    0.465  0.350  0.791      4.7  0.072
 45  ...     17.5   9.0   3.2  1.3  0.6    0.425  0.327  0.631      1.7  0.027

 [46 rows x 23 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0   Unnamed: 2_level_0  \
                  # Tm                Pos               Player
 0                 1st                  G       Michael Jordan
 1                 1st                  F          Karl Malone
 2                 1st                  G          Gary Payton
 3                 1st                  C     Shaquille O'Neal
 4                 1st                  F           Tim Duncan
 5                 NaN                NaN                  NaN
 6                 2nd                  G         Tim Hardaway
 7                 2nd                  C       David Robinson
 8                 2nd                  F           Grant Hill
 9                 2nd                  F            Vin Baker
 10                2nd                  G       Rod Strickland
 11                NaN                NaN                  NaN
 12                3rd                  F       Scottie Pippen
 13                3rd                  F            Glen Rice
 14                3rd                  G       Mitch Richmond
 15                3rd                  G        Reggie Miller
 16                3rd                  C      Dikembe Mutombo
 17                NaN                NaN                  NaN
 18                ORV                  G        John Stockton
 19                ORV                  G           Jason Kidd
 20                ORV                  F       Antoine Walker
 21                ORV                  G          Steve Smith
 22                ORV                  F        Dennis Rodman
 23                ORV                  C      Alonzo Mourning
 24                ORV                  F        Kevin Garnett
 25                ORV                  F           Shawn Kemp
 26                ORV                  G       Michael Finley
 27                ORV                  C      Hakeem Olajuwon
 28                ORV                  G          Eddie Jones
 29                ORV                  C      Jayson Williams
 30                ORV                  G        Allen Iverson
 31                ORV                  C            Rik Smits
 32                ORV                  F  Shareef Abdur-Rahim
 33                ORV                  G      Stephon Marbury
 34                ORV                  C      Arvydas Sabonis
 35                ORV                  F       Keith Van Horn
 36                ORV                  F         Chris Webber
 37                ORV                  G        Allan Houston
 38                ORV                  F      Detlef Schrempf
 39                ORV                  G     Damon Stoudamire
 40                ORV                  G      Mookie Blaylock
 41                ORV                  G        Nick Anderson
 42                ORV                  F        Anthony Mason
 43                ORV                  F            Bo Outlaw
 44                ORV                  F      Antonio McDyess
 45                ORV                  G            Ray Allen
 46                ORV                  F      Charles Barkley
 47                ORV                  G          Kobe Bryant
 48                ORV                  G          Sam Cassell
 49                ORV                  G          Rex Chapman
 50                ORV                  C           Bison Dele
 51                ORV                  G        Jeff Hornacek
 52                ORV                  F         Juwan Howard
 53                ORV                  G        Brevin Knight

    Unnamed: 3_level_0 Unnamed: 4_level_0  Voting                               \
                   Age                 Tm Pts Won Pts Max  Share 1st Tm 2nd Tm
 0                34.0                CHI   580.0   580.0  1.000  116.0    0.0
 1                34.0                UTA   580.0   580.0  1.000  116.0    0.0
 2                29.0                SEA   561.0   580.0  0.967  108.0    NaN
 3                25.0                LAL   544.0   580.0  0.938  103.0    NaN
 4                21.0                SAS   370.0   580.0  0.638   45.0    NaN
 5                 NaN                NaN     NaN     NaN    NaN    NaN    NaN
 6                31.0                MIA   345.0   580.0  0.595    2.0    NaN
 7                32.0                SAS   332.0   580.0  0.572   13.0    NaN
 8                25.0                DET   290.0   580.0  0.500   22.0    NaN
 9                26.0                SEA   269.0   580.0  0.464   10.0    NaN
 10               31.0                WAS   173.0   580.0  0.298    4.0    NaN
 11                NaN                NaN     NaN     NaN    NaN    NaN    NaN
 12               32.0                CHI   201.0   580.0  0.347   23.0    NaN
 13               30.0                CHH   179.0   580.0  0.309   14.0    NaN
 14               32.0                SAC   139.0   580.0  0.240    0.0    NaN
 15               32.0                IND   124.0   580.0  0.214    0.0    NaN
 16               31.0                ATL    80.0   580.0  0.138    0.0    NaN
 17                NaN                NaN     NaN     NaN    NaN    NaN    NaN
 18               35.0                UTA    64.0   580.0  0.110    2.0    NaN
 19               24.0                PHO    63.0   580.0  0.109    0.0    NaN
 20               21.0                BOS    62.0   580.0  0.107    1.0    NaN
 21               28.0                ATL    62.0   580.0  0.107    0.0    NaN
 22               36.0                CHI    41.0   580.0  0.071    0.0    NaN
 23               27.0                MIA    37.0   580.0  0.064    0.0    NaN
 24               21.0                MIN    36.0   580.0  0.062    1.0    NaN
 25               28.0                CLE    19.0   580.0  0.033    0.0    NaN
 26               24.0                DAL    17.0   580.0  0.029    0.0    NaN
 27               35.0                HOU    16.0   580.0  0.028    0.0    NaN
 28               26.0                LAL    15.0   580.0  0.026    0.0    NaN
 29               29.0                NJN    13.0   580.0  0.022    0.0    NaN
 30               22.0                PHI    11.0   580.0  0.019    0.0    NaN
 31               31.0                IND    11.0   580.0  0.019    0.0    NaN
 32               21.0                VAN    10.0   580.0  0.017    0.0    NaN
 33               20.0                MIN    10.0   580.0  0.017    0.0    NaN
 34               33.0                POR    10.0   580.0  0.017    0.0    NaN
 35               22.0                NJN     8.0   580.0  0.014    0.0    NaN
 36               24.0                WAS     8.0   580.0  0.014    0.0    NaN
 37               26.0                NYK     6.0   580.0  0.010    0.0    NaN
 38               35.0                SEA     5.0   580.0  0.009    0.0    NaN
 39               24.0                TOT     5.0   580.0  0.009    0.0    NaN
 40               30.0                ATL     4.0   580.0  0.007    0.0    NaN
 41               30.0                ORL     3.0   580.0  0.005    0.0    NaN
 42               31.0                CHH     3.0   580.0  0.005    0.0    NaN
 43               26.0                ORL     3.0   580.0  0.005    0.0    NaN
 44               23.0                PHO     2.0   580.0  0.003    0.0    0.0
 45               22.0                MIL     1.0   580.0  0.002    0.0    0.0
 46               34.0                HOU     1.0   580.0  0.002    0.0    0.0
 47               19.0                LAL     1.0   580.0  0.002    0.0    0.0
 48               28.0                NJN     1.0   580.0  0.002    0.0    0.0
 49               30.0                PHO     1.0   580.0  0.002    0.0    0.0
 50               28.0                DET     1.0   580.0  0.002    0.0    0.0
 51               34.0                UTA     1.0   580.0  0.002    0.0    0.0
 52               24.0                WAS     1.0   580.0  0.002    0.0    0.0
 53               22.0                CLE     1.0   580.0  0.002    0.0    0.0

     ... Per Game                       Shooting               Advanced
     ...      PTS   TRB   AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
 0   ...     28.7   5.8   3.5  1.7  0.5    0.465  0.238  0.784     15.8  0.238
 1   ...     27.0  10.3   3.9  1.2  0.9    0.530  0.333  0.761     16.4  0.259
 2   ...     19.2   4.6   8.3  2.3  0.2    0.453  0.338  0.744     12.5  0.190
 3   ...     28.3  11.4   2.4  0.7  2.4    0.584    NaN  0.527     10.2  0.224
 4   ...     21.1  11.9   2.7  0.7  2.5    0.549  0.000  0.662     12.8  0.192
 5   ...      NaN   NaN   NaN  NaN  NaN      NaN    NaN    NaN      NaN    NaN
 6   ...     18.9   3.7   8.3  1.7  0.2    0.431  0.351  0.781     11.7  0.185
 7   ...     21.6  10.6   2.7  0.9  2.6    0.511  0.250  0.735     13.8  0.269
 8   ...     21.1   7.7   6.8  1.8  0.7    0.452  0.143  0.740     10.2  0.149
 9   ...     19.2   8.0   1.9  1.1  1.0    0.542  0.143  0.591     10.4  0.169
 10  ...     17.8   5.3  10.5  1.7  0.3    0.434  0.250  0.726      8.1  0.129
 11  ...      NaN   NaN   NaN  NaN  NaN      NaN    NaN    NaN      NaN    NaN
 12  ...     19.1   5.2   5.8  1.8  1.0    0.447  0.318  0.777      6.6  0.193
 13  ...     22.3   4.3   2.2  0.9  0.3    0.457  0.433  0.849      9.3  0.136
 14  ...     23.2   3.3   4.0  1.3  0.2    0.445  0.389  0.864      7.9  0.148
 15  ...     19.5   2.9   2.1  1.0  0.1    0.477  0.429  0.868     12.0  0.206

In [40]:
all_nba_new = pd.concat(dfs2)

In [41]:
all_nba_new

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 # Tm                Pos             Player
0                 1st                  G     Michael Jordan
1                 1st                  F        Karl Malone
2                 1st                  C    Hakeem Olajuwon
3                 1st                  F         Grant Hill
4                 1st                  G       Tim Hardaway
..                ...                ...                ...
44                ORV                  C     Elden Campbell
45                ORV                  G        Sam Cassell
46                ORV                  G      Reggie Miller
47                ORV                  G     Cuttino Mobley
48                ORV                  F   Wally Szczerbiak

   Unnamed: 3_level_0 Unnamed: 4_level_0  Voting                               \
                  Age                 Tm Pts Won Pts Max  Share 1st Tm 2nd Tm
0                33.0                CHI   575.0   575.0  1.000  115.0    0.0
1                33.0                UTA   575.0   575.0  1.000  115.0    0.0
2                34.0                HOU   514.0   575.0  0.894   89.0    NaN
3                24.0                DET   483.0   575.0  0.840   76.0    NaN
4                30.0                MIA   435.0   575.0  0.757   62.0    NaN
..                ...                ...     ...     ...    ...    ...    ...
44               33.0                CHH     1.0   630.0  0.002    0.0    0.0
45               32.0                MIL     1.0   630.0  0.002    0.0    0.0
46               36.0                IND     1.0   630.0  0.002    0.0    0.0
47               26.0                HOU     1.0   630.0  0.002    0.0    0.0
48               24.0                MIN     1.0   630.0  0.002    0.0    0.0

    ... Per Game                     Shooting               Advanced
    ...      PTS  TRB  AST  STL  BLK      FG%    3P%    FT%       WS  WS/48
0   ...     29.6  5.9  4.3  1.7  0.5    0.486  0.374  0.833     18.3  0.283
1   ...     27.4  9.9  4.5  1.4  0.6    0.550  0.000  0.755     16.7  0.268
2   ...     23.2  9.2  3.0  1.5  2.2    0.510  0.313  0.787      9.1  0.154
3   ...     21.4  9.0  7.3  1.8  0.6    0.496  0.303  0.711     14.6  0.223
4   ...     20.3  3.4  8.6  1.9  0.1    0.415  0.344  0.799     12.9  0.198
..  ...      ...  ...  ...  ...  ...      ...    ...    ...      ...    ...
44  ...     13.9  6.9  1.3  0.8  1.8    0.484  0.000  0.797      7.6  0.168
45  ...     19.7  4.2  6.7  1.2  0.2    0.463  0.348  0.860      8.6  0.158
46  ...     16.5  2.8  3.2  1.1  0.1    0.453  0.406  0.911      9.5  0.159
47  ...     21.7  4.1  2.5  1.5  0.5    0.438  0.395  0.850      5.7  0.087
48  ...     18.7  4.8  3.1  0.8  0.3    0.508  0.455  0.831      8.7  0.134

[284 rows x 23 columns]

In [42]:
all_nba_new.to_csv("all_nba_new.csv")

In [43]:
df2 = pd.read_csv("all_nba_new.csv")

In [44]:
df2

    # Tm            Player Team  Pts Won  Pts Max  Share  1st Tm  Season
0    1st    Michael Jordan  CHI      575      575  1.000     115    1997
1    1st       Karl Malone  UTA      575      575  1.000     115    1997
2    1st   Hakeem Olajuwon  HOU      514      575  0.894      89    1997
3    1st        Grant Hill  DET      483      575  0.840      76    1997
4    1st      Tim Hardaway  MIA      435      575  0.757      62    1997
..   ...               ...  ...      ...      ...    ...     ...     ...
261  ORV    Elden Campbell  CHH        1      630  0.002       0    2002
262  ORV       Sam Cassell  MIL        1      630  0.002       0    2002
263  ORV     Reggie Miller  IND        1      630  0.002       0    2002
264  ORV    Cuttino Mobley  HOU        1      630  0.002       0    2002
265  ORV  Wally Szczerbiak  MIN        1      630  0.002       0    2002

[266 rows x 8 columns]

In [47]:
df2.drop(df2.index[(df2["Team"] == "TOT")], axis=0, inplace=True)

In [49]:
df2['Team'] = df2['Team'].replace(team_names)

In [50]:
df2

,# Tm,Player,Team,Pts Won,Pts Max,Share,1st Tm,Season
0,1st,Michael Jordan,Chicago Bulls,575,575,1.000,115,1997
1,1st,Karl Malone,Utah Jazz,575,575,1.000,115,1997
2,1st,Hakeem Olajuwon,Houston Rockets,514,575,0.894,89,1997
3,1st,Grant Hill,Detroit Pistons,483,575,0.840,76,1997
4,1st,Tim Hardaway,Miami Heat,435,575,0.757,62,1997
...,...,...,...,...,...,...,...,...
261,ORV,Elden Campbell,Charlotte Hornets,1,630,0.002,0,2002
262,ORV,Sam Cassell,Milwaukee Bucks,1,630,0.002,0,2002
263,ORV,Reggie Miller,Indiana Pacers,1,630,0.002,0,2002
264,ORV,Cuttino Mobley,Houston Rockets,1,630,0.002,0,2002
265,ORV,Wally Szczerbiak,Minnesota Timberwolves,1,630,0.002,0,2002

In [53]:
df2['Team'] = df2['Team'].replace('WSB','Washington Bullets', regex=True)
df2['Team'] = df2['Team'].replace('VAN','Vancouver Grizzlies', regex=True)

In [54]:
df2

,# Tm,Player,Team,Pts Won,Pts Max,Share,1st Tm,Season
0,1st,Michael Jordan,Chicago Bulls,575,575,1.000,115,1997
1,1st,Karl Malone,Utah Jazz,575,575,1.000,115,1997
2,1st,Hakeem Olajuwon,Houston Rockets,514,575,0.894,89,1997
3,1st,Grant Hill,Detroit Pistons,483,575,0.840,76,1997
4,1st,Tim Hardaway,Miami Heat,435,575,0.757,62,1997
...,...,...,...,...,...,...,...,...
261,ORV,Elden Campbell,Charlotte Hornets,1,630,0.002,0,2002
262,ORV,Sam Cassell,Milwaukee Bucks,1,630,0.002,0,2002
263,ORV,Reggie Miller,Indiana Pacers,1,630,0.002,0,2002
264,ORV,Cuttino Mobley,Houston Rockets,1,630,0.002,0,2002
265,ORV,Wally Szczerbiak,Minnesota Timberwolves,1,630,0.002,0,2002

In [56]:
df2['Weighted_Share'] = df2.apply(lambda row: row['Share'] * rank_weights[row['# Tm']], axis=1)
all_nba_voting = df2.groupby(['Team', 'Season'])['Weighted_Share'].sum().reset_index()

In [57]:
all_nba_voting

                    Team  Season  Weighted_Share
0          Atlanta Hawks    1997          0.1245
1          Atlanta Hawks    1998          0.1950
2          Atlanta Hawks    1999          0.0815
3          Atlanta Hawks    2000          0.0215
4          Atlanta Hawks    2002          0.0040
..                   ...     ...             ...
139  Vancouver Grizzlies    2001          0.0025
140   Washington Bullets    1997          0.0310
141   Washington Wizards    1998          0.4550
142   Washington Wizards    1999          0.0240
143   Washington Wizards    2002          0.0230

[144 rows x 3 columns]

In [58]:
combine2 = combine1.merge(all_nba_voting, how='outer', on=["Team", "Season"])

In [60]:
combine2

,Team,G,MP Per Game,FG Per Game,FGA Per Game,FG%,3P Per Game,3PA Per Game,3P%,2P Per Game,...,16 feet - 3P FG%,% of 2P's that were assisted,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share
0,Atlanta Hawks,82,241.5,34.3,76.9,0.446,8.0,22.4,0.359,26.3,...,0.470,0.505,0.712,0.043,259,0.146,0.410,0.266667,0.004,0.1245
1,Atlanta Hawks,82,242.4,35.2,77.5,0.455,4.1,12.4,0.332,31.1,...,0.459,0.516,0.748,0.054,304,0.102,0.288,0.066667,NaN,0.1950
2,Atlanta Hawks,50,241.5,30.8,75.2,0.409,3.9,12.9,0.306,26.8,...,0.392,0.477,0.716,0.037,126,0.092,0.322,0.200000,0.001,0.0815
3,Atlanta Hawks,82,241.8,36.6,83.0,0.441,3.1,9.9,0.317,33.4,...,0.442,0.489,0.806,0.038,236,0.128,0.452,0.000000,NaN,0.0215
4,Atlanta Hawks,82,240.6,35.1,81.3,0.431,4.1,11.4,0.357,31.0,...,0.403,0.507,0.811,0.037,224,0.228,0.371,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Washington Wizards,82,241.5,37.6,83.1,0.452,3.9,11.5,0.339,33.7,...,0.454,0.589,0.853,0.061,394,0.230,0.364,0.000000,0.001,0.4550
170,Washington Wizards,50,241.0,35.4,79.4,0.445,3.6,11.6,0.309,31.8,...,0.435,0.578,0.810,0.036,132,0.198,0.322,0.000000,NaN,0.0240
171,Washington Wizards,82,241.5,36.7,81.5,0.451,4.1,10.9,0.376,32.6,...,0.445,0.558,0.833,0.048,300,0.204,0.462,0.000000,NaN,NaN
172,Washington Wizards,82,240.0,34.5,78.7,0.439,3.4,10.3,0.324,31.2,...,0.415,0.563,0.753,0.030,177,0.216,0.361,0.000000,NaN,NaN
173,Washington Wizards,82,240.6,35.8,81.3,0.441,3.7,9.6,0.388,32.1,...,0.422,0.561,0.784,0.041,267,0.168,0.439,0.000000,0.013,0.0230

In [61]:
dfs3 = []
for year in years1:
    with open("shares/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    all_defense = soup.find(id="leading_all_defense")
    all_defense_1 = pd.read_html(StringIO(str(all_defense)))[0]

    dfs3.append(all_defense_1)

In [62]:
dfs3

[   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  # Tm                Pos             Player
 0                 1st                  F     Scottie Pippen
 1                 1st                  G     Michael Jordan
 2                 1st                  C    Dikembe Mutombo
 3                 1st                  G        Gary Payton
 4                 1st                  F        Karl Malone
 5                 NaN                NaN                NaN
 6                 2nd                  G    Mookie Blaylock
 7                 2nd                  C    Hakeem Olajuwon
 8                 2nd                  F      Anthony Mason
 9                 2nd                  F         P.J. Brown
 10                2nd                  G      John Stockton
 11                NaN                NaN                NaN
 12                ORV                  F     Charles Oakley
 13                ORV                  F      Dennis Rodman
 14                ORV                  F         Grant Hill
 15                ORV                  C    Alonzo Mourning
 16                ORV                  G        Eddie Jones
 17                ORV                  G       Bobby Phills
 18                ORV                  G     Mitch Richmond
 19                ORV                  F         Shawn Kemp
 20                ORV                  F          Glen Rice
 21                ORV                  G         Joe Dumars
 22                ORV                  F         Mario Elie
 23                ORV                  F      Kevin Garnett
 24                ORV                  F  Clifford Robinson
 25                ORV                  F       Keith Askins
 26                ORV                  C      Shawn Bradley
 27                ORV                  G      Doug Christie
 28                ORV                  F       Horace Grant
 29                ORV                  G       Tim Hardaway
 30                ORV                  G   Latrell Sprewell
 31                ORV                  G    Terrell Brandon
 32                ORV                  C      Patrick Ewing
 33                ORV                  F        Tyrone Hill
 34                ORV                  F        Chris Mills
 35                ORV                  F          Bo Outlaw
 36                ORV                  G       David Wesley

    Unnamed: 3_level_0 Unnamed: 4_level_0  Voting                 \
                   Age                 Tm Pts Won Pts Max  Share
 0                31.0                CHI    53.0    58.0  0.914
 1                33.0                CHI    51.0    58.0  0.879
 2                30.0                ATL    50.0    58.0  0.862
 3                28.0                SEA    49.0    58.0  0.845
 4                33.0                UTA    25.0    58.0  0.431
 5                 NaN                NaN     NaN     NaN    NaN
 6                29.0                ATL    35.0    58.0  0.603
 7                34.0                HOU    26.0    58.0  0.448
 8                30.0                CHH    22.0    58.0  0.379
 9                27.0                MIA    19.0    58.0  0.328
 10               34.0                UTA     9.0    58.0  0.155
 11                NaN                NaN     NaN     NaN    NaN
 12               33.0                NYK    12.0    58.0  0.207
 13               35.0                CHI    11.0    58.0  0.190
 14               24.0                DET    10.0    58.0  0.172
 15               26.0                MIA     7.0    58.0  0.121
 16               25.0                LAL     6.0    58.0  0.103
 17               27.0                CLE     6.0    58.0  0.103
 18               31.0                SAC     6.0    58.0  0.103
 19               27.0                SEA     4.0    58.0  0.069
 20               29.0                CHH     4.0    58.0  0.069
 21               33.0                DET     3.0    58.0  0.052
 22               33.0                HOU     3.0    58.0  0.052
 23               20.0                MIN     3.0    58.0  0.052
 24               30.0                POR     3.0    58.0  0.052
 25               29.0                MIA     2.0    58.0  0.034
 26               24.0                TOT     2.0    58.0  0.034
 27               26.0                TOR     2.0    58.0  0.034
 28               31.0                ORL     2.0    58.0  0.034
 29               30.0                MIA     2.0    58.0  0.034
 30               26.0                GSW     2.0    58.0  0.034
 31               26.0                CLE     1.0    58.0  0.017
 32               34.0                NYK     1.0    58.0  0.017
 33               28.0                CLE     1.0    58.0  0.017
 34               27.0                CLE     1.0    58.0  0.017
 35               25.0                LAC     1.0    58.0  0.017
 36               26.0                BOS     1.0    58.0  0.017

    Unnamed: 8_level_0 Per Game  ...           Shooting               Advanced  \
                     G       MP  ...  STL  BLK      FG%    3P%    FT%       WS
 0                82.0     37.7  ...  1.9  0.5    0.474  0.368  0.701     13.1
 1                82.0     37.9  ...  1.7  0.5    0.486  0.374  0.833     18.3
 2                80.0     37.2  ...  0.6  3.3    0.527    NaN  0.705     11.3
 3                82.0     39.2  ...  2.4  0.2    0.476  0.313  0.715     12.9
 4                82.0     36.6  ...  1.4  0.6    0.550  0.000  0.755     16.7
 5                 NaN      NaN  ...  NaN  NaN      NaN    NaN    NaN      NaN
 6                78.0     39.2  ...  2.7  0.3    0.432  0.366  0.753     12.5
 7                78.0     36.6  ...  1.5  2.2    0.510  0.313  0.787      9.1
 8                73.0     43.1  ...  1.0  0.5    0.525  0.333  0.745     11.4
 9                80.0     32.4  ...  1.1  1.2    0.457  0.000  0.732      7.5
 10               82.0     35.3  ...  2.0  0.2    0.548  0.422  0.846     13.6
 11                NaN      NaN  ...  NaN  NaN      NaN    NaN    NaN      NaN
 12               80.0     35.9  ...  1.4  0.3    0.488  0.263  0.808      8.9
 13               55.0     35.4  ...  0.6  0.3    0.448  0.263  0.568      6.0
 14               80.0     39.3  ...  1.8  0.6    0.496  0.303  0.711     14.6
 15               66.0     35.2  ...  0.8  2.9    0.534  0.111  0.642      8.4
 16               80.0     37.5  ...  2.4  0.6    0.438  0.391  0.819      9.6
 17               69.0     34.4  ...  1.6  0.3    0.428  0.394  0.718      5.0
 18               81.0     38.6  ...  1.5  0.3    0.454  0.428  0.861     10.8
 19               81.0     34.0  ...  1.5  1.0    0.510  0.364  0.742     10.0
 20               79.0     42.6  ...  0.9  0.3    0.477  0.470  0.867     10.8
 21               79.0     37.0  ...  0.7  0.0    0.440  0.432  0.867      8.8
 22               78.0     34.4  ...  1.2  0.2    0.497  0.420  0.896      8.9
 23               77.0     38.9  ...  1.4  2.1    0.499  0.286  0.754      7.3
 24               81.0     38.0  ...  1.2  0.8    0.426  0.346  0.696      6.6
 25               78.0     22.7  ...  0.7  0.2    0.433  0.401  0.672      4.3
 26               73.0     31.3  ...  0.5  3.4    0.449  0.000  0.654      3.0
 27               81.0     38.6  ...  2.5  0.6    0.417  0.384  0.775      7.0
 28               67.0     37.3  ...  1.5  1.0    0.515  0.167  0.715      7.7
 29               81.0     38.7  ...  1.9  0.1    0.415  0.344  0.799     12.9
 30               80.0     41.9  ...  1.7  0.6    0.449  0.354  0.843      8.1
 31               78.0     36.8  ...  1.8  0.4    0.438  0.373  0.902     10.8
 32               78.0     37.0  ...  0.9  2.4    0.488  0.222  0.754      9.8
 33               74.0     34.9  ...  0.9  0.4    0.600  0.000  0.633      9.9
 34               80.0     39.6  ...  1.1  0.5    0.453  0.391  0.842      8.9
 35               82.0     26.8  ...  1.1  1.7    0.609  0.000  0.504      6.1
 36               74.0     40.4  ...  2.2  0.2    0.468  0.360  0.781      6.1


     WS/48  DWS DBPM   DRtg
 0   0.203  5.2  1.4  101.0
 1   0.283  5.0  1.1  102.0
 2   0.183  6.6  2.4   97.0
 3   0.193  4.7  1.1  103.0
 4   0.268  5.1  1.2  101.0
 5     NaN  NaN  NaN    NaN
 6   0.197  5.6  2.4  100.0
 7   0.154  5.6  2.0   99.0
 8   0.173  3.3  0.8  106.0
 9   0.139  5.4  1.6   98.0
 10  0.226  3.6  1.0  105.0
 11    NaN  NaN  NaN    NaN
 12  0.149  5.8  2.1   99.0
 13  0.148  4.0  0.3   98.0
 14  0.223  5.9  2.7  100.0
 15  0.174  5.6  2.5   95.0
 16  0.154  4.3  1.9  103.0
 17  0.101  3.7  1.5  102.0
 18  0.166  2.1 -0.6  110.0
 19  0.174  5.4  0.3   99.0
 20  0.154  1.2 -2.1  112.0
 21  0.144  2.0 -1.0  110.0
 22  0.159  2.6  0.7  107.0
 23  0.116  3.9  1.1  105.0
 24  0.103  3.7  0.5  105.0
 25  0.116  2.8  1.7  102.0
 26  0.062  3.0  0.8  105.0
 27  0.107  3.6  1.7  106.0
 28  0.148  3.6  1.3  103.0
 29  0.198  5.0  1.0  102.0
 30  0.115  1.1 -1.1  113.0
 31  0.181  4.7  1.5  102.0
 32  0.163  6.9  1.9   96.0
 33  0.184  4.6  0.1  101.0
 34  0.134  4.7  0.8  103.0
 35  0.133  2.8  2.5  104.0
 36  0.097  1.1 -0.6  112.0

 [37 rows x 23 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  # Tm                Pos             Player
 0                 1st                  G     Michael Jordan
 1                 1st                  G        Gary Payton
 2                 1st                  C    Dikembe Mutombo
 3                 1st                  F     Scottie Pippen
 4                 1st                  F        Karl Malone
 5                 NaN                NaN                NaN
 6                 2nd                  G    Mookie Blaylock
 7                 2nd                  F         Tim Duncan
 8                 2nd                  F     Charles Oakley
 9                 2nd                  C     David Robinson
 10                2nd                  G        Eddie Jones
 11                NaN                NaN                NaN
 12                ORV                  F      Dennis Rodman
 13                ORV                  F         P.J. Brown
 14                ORV                  F          Bo Outlaw
 15                ORV                  F         Grant Hill
 16                ORV                  G      Brevin Knight
 17                ORV                  C    Alonzo Mourning
 18                ORV                  G      John Stockton
 19                ORV                  F      Anthony Mason
 20                ORV                  C   Shaquille O'Neal
 21                ORV                  C    Hakeem Olajuwon
 22                ORV                  G     Mitch Richmond
 23                ORV                  G       Tim Hardaway
 24                ORV                  F      Kevin Garnett
 25                ORV                  F          Vin Baker
 26                ORV                  G         Joe Dumars
 27                ORV                  F       Horace Grant
 28                ORV                  G         Jason Kidd
 29                ORV                  G       Bobby Phills
 30                ORV                  C    Arvydas Sabonis
 31                ORV                  G       Charlie Ward
 32                ORV                  C      Shawn Bradley
 33                ORV                  G      Doug Christie
 34                ORV                  F         Mario Elie
 35                ORV                  G       Kendall Gill
 36                ORV                  G         Ron Harper
 37                ORV                  G     Hersey Hawkins
 38                ORV                  G      Reggie Miller
 39                ORV                  F       Theo Ratliff
 40                ORV                  F    Detlef Schrempf
 41                ORV                  G          Eric Snow
 42                ORV                  C    Jayson Williams

    Unnamed: 3_level_0 Unnamed: 4_level_0  Voting                 \
                   Age                 Tm Pts Won Pts Max  Share
 0                34.0                CHI    53.0    58.0  0.914
 1                29.0                SEA    51.0    58.0  0.879
 2                31.0                ATL    48.0    58.0  0.828
 3                32.0                CHI    44.0    58.0  0.759
 4                34.0                UTA    24.0    58.0  0.414
 5                 NaN                NaN     NaN     NaN    NaN
 6                30.0                ATL    23.0    58.0  0.397
 7                21.0                SAS    21.0    58.0  0.362
 8                34.0                NYK    19.0    58.0  0.328
 9                32.0                SAS    18.0    58.0  0.310
 10               26.0                LAL    10.0    58.0  0.172
 11                NaN                NaN     NaN     NaN    NaN
 12               36.0                CHI    17.0    58.0  0.293
 13               28.0                MIA    12.0    58.0  0.207
 14               26.0                ORL    12.0    58.0  0.207
 15               25.0                DET    11.0    58.0  0.190
 16               22.0                CLE     8.0    58.0  0.138
 17               27.0                MIA     6.0    58.0  0.103
 18               35.0                UTA     6.0    58.0  0.103
 19               31.0                CHH     5.0    58.0  0.086
 20               25.0                LAL     5.0    58.0  0.086
 21               35.0                HOU     5.0    58.0  0.086
 22               32.0                SAC     5.0    58.0  0.086
 23               31.0                MIA     4.0    58.0  0.069
 24               21.0                MIN     3.0    58.0  0.052
 25               26.0                SEA     2.0    58.0  0.034
 26               34.0                DET     2.0    58.0  0.034
 27               32.0                ORL     2.0    58.0  0.034
 28               24.0                PHO     2.0    58.0  0.034
 29               28.0                CHH     2.0    58.0  0.034
 30               33.0                POR     2.0    58.0  0.034
 31               27.0                NYK     2.0    58.0  0.034
 32               25.0                DAL     1.0    58.0  0.017
 33               27.0                TOR     1.0    58.0  0.017
 34               34.0                HOU     1.0    58.0  0.017
 35               29.0                NJN     1.0    58.0  0.017
 36               34.0                CHI     1.0    58.0  0.017
 37               31.0                SEA     1.0    58.0  0.017
 38               32.0                IND     1.0    58.0  0.017
 39               24.0                TOT     1.0    58.0  0.017
 40               35.0                SEA     1.0    58.0  0.017
 41               24.0                TOT     1.0    58.0  0.017
 42               29.0                NJN     1.0    58.0  0.017

    Unnamed: 8_level_0 Per Game  ...           Shooting               Advanced  \
                     G       MP  ...  STL  BLK      FG%    3P%    FT%       WS
 0                82.0     38.8  ...  1.7  0.5    0.465  0.238  0.784     15.8
 1                82.0     38.4  ...  2.3  0.2    0.453  0.338  0.744     12.5
 2                82.0     35.6  ...  0.4  3.4    0.537    NaN  0.670     10.8
 3                44.0     37.5  ...  1.8  1.0    0.447  0.318  0.777      6.6
 4                81.0     37.4  ...  1.2  0.9    0.530  0.333  0.761     16.4
 5                 NaN      NaN  ...  NaN  NaN      NaN    NaN    NaN      NaN
 6                70.0     38.6  ...  2.6  0.3    0.392  0.269  0.709      5.6
 7                82.0     39.1  ...  0.7  2.5    0.549  0.000  0.662     12.8
 8                79.0     34.6  ...  1.6  0.3    0.440  0.000  0.851      7.0
 9                73.0     33.7  ...  0.9  2.6    0.511  0.250  0.735     13.8
 10               80.0     36.4  ...  2.0  0.7    0.484  0.389  0.765     10.1
 11                NaN      NaN  ...  NaN  NaN      NaN    NaN    NaN      NaN
 12               80.0     35.7  ...  0.6  0.2    0.431  0.174  0.550      7.8
 13               74.0     31.9  ...  0.9  1.3    0.471    NaN  0.766      7.5
 14               82.0     36.0  ...  1.3  2.2    0.554  0.250  0.575      7.6
 15               81.0     40.7  ...  1.8  0.7    0.452  0.143  0.740     10.2
 16               80.0     31.0  ...  2.5  0.2    0.441  0.000  0.801      8.4
 17               58.0     33.4  ...  0.7  2.2    0.551    NaN  0.665      7.5
 18               64.0     29.0  ...  1.4  0.2    0.528  0.429  0.827      8.0
 19               81.0     38.9  ...  0.8  0.2    0.509  0.000  0.649      9.3
 20               60.0     36.3  ...  0.7  2.4    0.584    NaN  0.527     10.2
 21               47.0     34.7  ...  1.8  2.0    0.483  0.000  0.755      4.5
 22               70.0     36.7  ...  1.3  0.2    0.445  0.389  0.864      7.9
 23               81.0     37.4  ...  1.7  0.2    0.431  0.351  0.781     11.7
 24               82.0     39.3  ...  1.7  1.8    0.491  0.188  0.738      9.6
 25               82.0     35.9  ...  1.1  1.0    0.542  0.143  0.591     10.4
 26               72.0     32.3  ...  0.6  0.0    0.416  0.371  0.825      5.9
 27               76.0     36.9  ...  1.1  1.0    0.459  0.000  0.678      7.1
 28               82.0     38.0  ...  2.0  0.3    0.416  0.313  0.799      8.0
 29               62.0     30.4  ...  1.3  0.3    0.446  0.386  0.757      3.2
 30               73.0     32.0  ...  0.9  1.1    0.493  0.261  0.798      9.7
 31               82.0     28.3  ...  1.8  0.5    0.455  0.377  0.805      7.1
 32               64.0     28.5  ...  0.8  3.3    0.422  0.333  0.722      2.9
 33               78.0     37.7  ...  2.4  0.7    0.428  0.326  0.829      4.0
 34               73.0     27.2  ...  1.1  0.1    0.452  0.291  0.833      3.8
 35               81.0     33.7  ...  1.9  0.8    0.429  0.257  0.688      5.9
 36               82.0     27.9  ...  1.3  0.6    0.441  0.190  0.750      7.2
 37               82.0     31.7  ...  1.8  0.2    0.440  0.415  0.868      8.6
 38               81.0     34.5  ...  1.0  0.1    0.477  0.429  0.868     12.0
 39               82.0     29.8  ...  0.6  3.1    0.513    NaN  0.701      6.7
 40               78.0     35.2  ...  0.8  0.2    0.487  0.415  0.844     10.4
 41               64.0     14.3  ...  0.9  0.1    0.429  0.118  0.690      1.3
 42               65.0     36.0  ...  0.7  0.8    0.498  0.000  0.666      8.4


     WS/48  DWS DBPM   DRtg
 0   0.238  5.4  1.0  100.0
 1   0.190  4.0  0.7  103.0
 2   0.177  5.2  1.4   99.0
 3   0.193  3.0  1.6   99.0
 4   0.259  4.3  0.7  102.0
 5     NaN  NaN  NaN    NaN
 6   0.099  3.7  1.5  102.0
 7   0.192  7.2  2.0   95.0
 8   0.122  5.6  2.3   97.0
 9   0.269  6.0  2.9   94.0
 10  0.166  3.2  1.1  104.0
 11    NaN  NaN  NaN    NaN
 12  0.131  5.9  0.4   97.0
 13  0.152  4.0  1.0  100.0
 14  0.124  4.5  2.7  101.0
 15  0.149  5.1  1.5  101.0
 16  0.163  4.9  3.1   97.0
 17  0.185  3.6  0.7   99.0
 18  0.206  1.6  0.2  107.0
 19  0.141  3.5  0.6  104.0
 20  0.224  3.4  0.2  101.0
 21  0.131  2.5  2.0  101.0
 22  0.148  1.3 -0.8  109.0
 23  0.185  3.8  0.4  103.0
 24  0.143  4.2  1.5  103.0
 25  0.169  3.5 -0.9  104.0
 26  0.122  1.2 -1.3  109.0
 27  0.122  3.6  0.8  103.0
 28  0.123  4.8  1.6  101.0
 29  0.081  1.7  0.4  106.0
 30  0.200  4.6  2.2   97.0
 31  0.148  4.5  3.4   98.0
 32  0.077  3.0  1.6  100.0
 33  0.066  1.6  0.0  109.0
 34  0.092  0.6 -0.1  111.0
 35  0.104  3.0  1.5  105.0
 36  0.151  3.7  2.1  100.0
 37  0.158  3.3  1.5  103.0
 38  0.206  2.8  0.1  105.0
 39  0.132  3.4  1.8  102.0
 40  0.182  2.9 -0.1  105.0
 41  0.067  1.0  1.6  105.0
 42  0.172  2.3 -2.0  105.0

 [43 rows x 23 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  # Tm                Pos             Player
 0                 1st                  G        Gary Payton
 1                 1st                  C    Alonzo Mourning
 2                 1st                  F         Tim Duncan
 3                 1st                  G         Jason Kidd

In [63]:
df_3 = pd.concat(dfs3)

In [64]:
df_3

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 # Tm                Pos             Player
0                 1st                  F     Scottie Pippen
1                 1st                  G     Michael Jordan
2                 1st                  C    Dikembe Mutombo
3                 1st                  G        Gary Payton
4                 1st                  F        Karl Malone
..                ...                ...                ...
42                ORV                  G        Paul Pierce
43                ORV                  F         Malik Rose
44                ORV                  G   Latrell Sprewell
45                ORV                  G      John Stockton
46                ORV                  F    Jerome Williams

   Unnamed: 3_level_0 Unnamed: 4_level_0  Voting                 \
                  Age                 Tm Pts Won Pts Max  Share
0                31.0                CHI    53.0    58.0  0.914
1                33.0                CHI    51.0    58.0  0.879
2                30.0                ATL    50.0    58.0  0.862
3                28.0                SEA    49.0    58.0  0.845
4                33.0                UTA    25.0    58.0  0.431
..                ...                ...     ...     ...    ...
42               24.0                BOS     1.0    58.0  0.017
43               27.0                SAS     1.0    58.0  0.017
44               31.0                NYK     1.0    58.0  0.017
45               39.0                UTA     1.0    58.0  0.017
46               28.0                TOR     1.0    58.0  0.017

   Unnamed: 8_level_0 Per Game  ...           Shooting               Advanced  \
                    G       MP  ...  STL  BLK      FG%    3P%    FT%       WS
0                82.0     37.7  ...  1.9  0.5    0.474  0.368  0.701     13.1
1                82.0     37.9  ...  1.7  0.5    0.486  0.374  0.833     18.3
2                80.0     37.2  ...  0.6  3.3    0.527    NaN  0.705     11.3
3                82.0     39.2  ...  2.4  0.2    0.476  0.313  0.715     12.9
4                82.0     36.6  ...  1.4  0.6    0.550  0.000  0.755     16.7
..                ...      ...  ...  ...  ...      ...    ...    ...      ...
42               82.0     40.3  ...  1.9  1.0    0.442  0.404  0.809     12.9
43               82.0     21.0  ...  0.9  0.5    0.463  0.083  0.720      4.4
44               81.0     41.1  ...  1.2  0.2    0.404  0.360  0.821      2.8
45               82.0     31.3  ...  1.9  0.3    0.517  0.321  0.857     10.7
46               68.0     24.1  ...  1.1  0.4    0.490    NaN  0.676      5.0


    WS/48  DWS DBPM   DRtg
0   0.203  5.2  1.4  101.0
1   0.283  5.0  1.1  102.0
2   0.183  6.6  2.4   97.0
3   0.193  4.7  1.1  103.0
4   0.268  5.1  1.2  101.0
..    ...  ...  ...    ...
42  0.187  5.6  1.3   99.0
43  0.123  3.4  0.3   97.0
44  0.041  1.7 -1.1  109.0
45  0.200  2.6  1.3  105.0
46  0.147  2.3  0.8  102.0

[265 rows x 23 columns]

In [65]:
df_3.to_csv("all_defense_new.csv")

In [66]:
defense1 = pd.read_csv("all_defense_new.csv")

In [67]:
defense1

    # Tm            Player Team  Pts Won  Pts Max  Share  Season
0    1st    Scottie Pippen  CHI       53       58  0.914    1997
1    1st    Michael Jordan  CHI       51       58  0.879    1997
2    1st   Dikembe Mutombo  ATL       50       58  0.862    1997
3    1st       Gary Payton  SEA       49       58  0.845    1997
4    1st       Karl Malone  UTA       25       58  0.431    1997
..   ...               ...  ...      ...      ...    ...     ...
248  ORV       Paul Pierce  BOS        1       58  0.017    2002
249  ORV        Malik Rose  SAS        1       58  0.017    2002
250  ORV  Latrell Sprewell  NYK        1       58  0.017    2002
251  ORV     John Stockton  UTA        1       58  0.017    2002
252  ORV   Jerome Williams  TOR        1       58  0.017    2002

[253 rows x 7 columns]

In [68]:
defense1['Team'] = defense1['Team'].replace(team_names)

In [69]:
defense1

,# Tm,Player,Team,Pts Won,Pts Max,Share,Season
0,1st,Scottie Pippen,Chicago Bulls,53,58,0.914,1997
1,1st,Michael Jordan,Chicago Bulls,51,58,0.879,1997
2,1st,Dikembe Mutombo,Atlanta Hawks,50,58,0.862,1997
3,1st,Gary Payton,Seattle SuperSonics,49,58,0.845,1997
4,1st,Karl Malone,Utah Jazz,25,58,0.431,1997
...,...,...,...,...,...,...,...
248,ORV,Paul Pierce,Boston Celtics,1,58,0.017,2002
249,ORV,Malik Rose,San Antonio Spurs,1,58,0.017,2002
250,ORV,Latrell Sprewell,New York Knicks,1,58,0.017,2002
251,ORV,John Stockton,Utah Jazz,1,58,0.017,2002
252,ORV,Jerome Williams,Toronto Raptors,1,58,0.017,2002

In [70]:
defense1.drop(defense1.index[(defense1['Team'] == "TOT")], axis=0, inplace=True)

In [73]:
defense1

,# Tm,Player,Team,Pts Won,Pts Max,Share,Season
0,1st,Scottie Pippen,Chicago Bulls,53,58,0.914,1997
1,1st,Michael Jordan,Chicago Bulls,51,58,0.879,1997
2,1st,Dikembe Mutombo,Atlanta Hawks,50,58,0.862,1997
3,1st,Gary Payton,Seattle SuperSonics,49,58,0.845,1997
4,1st,Karl Malone,Utah Jazz,25,58,0.431,1997
...,...,...,...,...,...,...,...
248,ORV,Paul Pierce,Boston Celtics,1,58,0.017,2002
249,ORV,Malik Rose,San Antonio Spurs,1,58,0.017,2002
250,ORV,Latrell Sprewell,New York Knicks,1,58,0.017,2002
251,ORV,John Stockton,Utah Jazz,1,58,0.017,2002
252,ORV,Jerome Williams,Toronto Raptors,1,58,0.017,2002

In [75]:
ranked_weights = {
    '1st': 1,
    '2nd': 0.75,
    'ORV': 0.5
}
defense1['DPOY_Share'] = defense1.apply(lambda row: row['Share'] * ranked_weights[row['# Tm']], axis=1)
dpoy_shares_new = defense1.groupby(['Team', 'Season'])['DPOY_Share'].sum().reset_index()

In [76]:
dpoy_shares_new

                   Team  Season  DPOY_Share
0         Atlanta Hawks    1997     1.31425
1         Atlanta Hawks    1998     1.12575
2         Atlanta Hawks    1999     0.79325
3         Atlanta Hawks    2000     0.07750
4        Boston Celtics    1997     0.00850
..                  ...     ...         ...
119           Utah Jazz    1999     0.41350
120           Utah Jazz    2000     0.13800
121           Utah Jazz    2001     0.08600
122           Utah Jazz    2002     0.05150
123  Washington Wizards    1999     0.03450

[124 rows x 3 columns]

In [77]:
combine3 = combine2.merge(dpoy_shares_new, how='outer', on=['Team', 'Season'])

In [78]:
combine3

,Team,G,MP Per Game,FG Per Game,FGA Per Game,FG%,3P Per Game,3PA Per Game,3P%,2P Per Game,...,% of 2P's that were assisted,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share,DPOY_Share
0,Atlanta Hawks,82,241.5,34.3,76.9,0.446,8.0,22.4,0.359,26.3,...,0.505,0.712,0.043,259,0.146,0.410,0.266667,0.004,0.1245,1.31425
1,Atlanta Hawks,82,242.4,35.2,77.5,0.455,4.1,12.4,0.332,31.1,...,0.516,0.748,0.054,304,0.102,0.288,0.066667,NaN,0.1950,1.12575
2,Atlanta Hawks,50,241.5,30.8,75.2,0.409,3.9,12.9,0.306,26.8,...,0.477,0.716,0.037,126,0.092,0.322,0.200000,0.001,0.0815,0.79325
3,Atlanta Hawks,82,241.8,36.6,83.0,0.441,3.1,9.9,0.317,33.4,...,0.489,0.806,0.038,236,0.128,0.452,0.000000,NaN,0.0215,0.07750
4,Atlanta Hawks,82,240.6,35.1,81.3,0.431,4.1,11.4,0.357,31.0,...,0.507,0.811,0.037,224,0.228,0.371,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Washington Wizards,82,241.5,37.6,83.1,0.452,3.9,11.5,0.339,33.7,...,0.589,0.853,0.061,394,0.230,0.364,0.000000,0.001,0.4550,NaN
170,Washington Wizards,50,241.0,35.4,79.4,0.445,3.6,11.6,0.309,31.8,...,0.578,0.810,0.036,132,0.198,0.322,0.000000,NaN,0.0240,0.03450
171,Washington Wizards,82,241.5,36.7,81.5,0.451,4.1,10.9,0.376,32.6,...,0.558,0.833,0.048,300,0.204,0.462,0.000000,NaN,NaN,NaN
172,Washington Wizards,82,240.0,34.5,78.7,0.439,3.4,10.3,0.324,31.2,...,0.563,0.753,0.030,177,0.216,0.361,0.000000,NaN,NaN,NaN
173,Washington Wizards,82,240.6,35.8,81.3,0.441,3.7,9.6,0.388,32.1,...,0.561,0.784,0.041,267,0.168,0.439,0.000000,0.013,0.0230,NaN

In [81]:
adv = pd.read_csv("advanced.csv")

In [82]:
adv

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Season
0,Chicago Bulls*,30.7,69,13,68,14,10.80,-0.11,10.70,114.4,...,0.547,0.511,12.5,35.9,0.199,0.471,14.8,69.3,0.196,1997
1,Utah Jazz*,29.6,64,18,64,18,8.79,-0.82,7.97,113.6,...,0.581,0.530,14.7,29.7,0.299,0.480,15.5,71.6,0.290,1997
2,Seattle SuperSonics*,30.0,57,25,62,20,7.68,-0.77,6.91,111.2,...,0.557,0.510,14.2,30.9,0.269,0.490,17.7,69.1,0.242,1997
3,Atlanta Hawks*,28.8,56,26,57,25,5.44,0.08,5.52,108.5,...,0.542,0.498,14.6,31.5,0.236,0.472,15.0,69.2,0.191,1997
4,Miami Heat*,27.2,61,21,57,25,5.49,0.07,5.56,106.8,...,0.546,0.507,15.5,29.2,0.233,0.465,15.6,70.6,0.248,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Houston Rockets,25.9,28,54,27,55,-4.89,0.58,-4.31,103.1,...,0.507,0.465,13.4,29.0,0.211,0.491,11.5,69.8,0.178,2002
170,Golden State Warriors,24.8,21,61,26,56,-5.40,0.61,-4.80,102.8,...,0.499,0.452,14.7,35.3,0.242,0.488,12.9,69.4,0.232,2002
171,Denver Nuggets,28.2,27,55,24,58,-5.82,0.63,-5.19,101.4,...,0.495,0.455,13.6,30.6,0.190,0.492,13.6,69.9,0.245,2002
172,Memphis Grizzlies,25.5,23,59,20,62,-7.44,0.70,-6.74,98.2,...,0.501,0.462,15.4,27.8,0.204,0.486,13.7,68.0,0.197,2002
173,Chicago Bulls,25.5,21,61,18,64,-8.54,0.02,-8.52,98.2,...,0.499,0.456,14.6,26.6,0.218,0.497,13.7,71.4,0.239,2002

In [83]:
adv["Team"] = adv["Team"].str.replace("*", "", regex=False)

In [84]:
adv

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Season
0,Chicago Bulls,30.7,69,13,68,14,10.80,-0.11,10.70,114.4,...,0.547,0.511,12.5,35.9,0.199,0.471,14.8,69.3,0.196,1997
1,Utah Jazz,29.6,64,18,64,18,8.79,-0.82,7.97,113.6,...,0.581,0.530,14.7,29.7,0.299,0.480,15.5,71.6,0.290,1997
2,Seattle SuperSonics,30.0,57,25,62,20,7.68,-0.77,6.91,111.2,...,0.557,0.510,14.2,30.9,0.269,0.490,17.7,69.1,0.242,1997
3,Atlanta Hawks,28.8,56,26,57,25,5.44,0.08,5.52,108.5,...,0.542,0.498,14.6,31.5,0.236,0.472,15.0,69.2,0.191,1997
4,Miami Heat,27.2,61,21,57,25,5.49,0.07,5.56,106.8,...,0.546,0.507,15.5,29.2,0.233,0.465,15.6,70.6,0.248,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Houston Rockets,25.9,28,54,27,55,-4.89,0.58,-4.31,103.1,...,0.507,0.465,13.4,29.0,0.211,0.491,11.5,69.8,0.178,2002
170,Golden State Warriors,24.8,21,61,26,56,-5.40,0.61,-4.80,102.8,...,0.499,0.452,14.7,35.3,0.242,0.488,12.9,69.4,0.232,2002
171,Denver Nuggets,28.2,27,55,24,58,-5.82,0.63,-5.19,101.4,...,0.495,0.455,13.6,30.6,0.190,0.492,13.6,69.9,0.245,2002
172,Memphis Grizzlies,25.5,23,59,20,62,-7.44,0.70,-6.74,98.2,...,0.501,0.462,15.4,27.8,0.204,0.486,13.7,68.0,0.197,2002
173,Chicago Bulls,25.5,21,61,18,64,-8.54,0.02,-8.52,98.2,...,0.499,0.456,14.6,26.6,0.218,0.497,13.7,71.4,0.239,2002

In [85]:
combine4 = combine3.merge(adv, how='outer', on=['Team', 'Season'])

In [86]:
combine4

,Team,G,MP Per Game,FG Per Game,FGA Per Game,FG%,3P Per Game,3PA Per Game,3P%,2P Per Game,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,Atlanta Hawks,82,241.5,34.3,76.9,0.446,8.0,22.4,0.359,26.3,...,0.291,0.542,0.498,14.6,31.5,0.236,0.472,15.0,69.2,0.191
1,Atlanta Hawks,82,242.4,35.2,77.5,0.455,4.1,12.4,0.332,31.1,...,0.160,0.533,0.481,14.1,33.9,0.275,0.468,13.0,69.1,0.194
2,Atlanta Hawks,50,241.5,30.8,75.2,0.409,3.9,12.9,0.306,26.8,...,0.171,0.492,0.436,14.5,33.1,0.277,0.437,13.4,72.1,0.202
3,Atlanta Hawks,82,241.8,36.6,83.0,0.441,3.1,9.9,0.317,33.4,...,0.120,0.503,0.460,14.1,31.7,0.217,0.481,11.3,71.0,0.196
4,Atlanta Hawks,82,240.6,35.1,81.3,0.431,4.1,11.4,0.357,31.0,...,0.140,0.500,0.456,15.5,28.9,0.206,0.472,13.8,70.8,0.249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Washington Wizards,82,241.5,37.6,83.1,0.452,3.9,11.5,0.339,33.7,...,0.139,0.513,0.476,13.0,31.2,0.219,0.481,15.1,69.5,0.248
170,Washington Wizards,50,241.0,35.4,79.4,0.445,3.6,11.6,0.309,31.8,...,0.146,0.507,0.468,14.1,28.2,0.213,0.474,15.1,69.5,0.273
171,Washington Wizards,82,241.5,36.7,81.5,0.451,4.1,10.9,0.376,32.6,...,0.133,0.521,0.476,14.8,30.6,0.234,0.489,13.9,71.7,0.273
172,Washington Wizards,82,240.0,34.5,78.7,0.439,3.4,10.3,0.324,31.2,...,0.131,0.514,0.460,15.7,29.7,0.264,0.503,14.1,71.8,0.236
173,Washington Wizards,82,240.6,35.8,81.3,0.441,3.7,9.6,0.388,32.1,...,0.118,0.508,0.464,12.5,30.7,0.214,0.484,13.0,71.4,0.214

In [97]:
combine4.to_csv("combined_really_new.csv")

In [98]:
combine5 = pd.read_csv("combined_really_new.csv")

In [99]:
stats = pd.read_csv("combined_stats_1.csv")

In [100]:
stats

,Team,G,MP Per Game,FG Per Game,FGA Per Game,3P Per Game,3PA Per Game,2P Per Game,2PA Per Game,FT Per Game,...,% of 2P's that were assisted,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share,DPOY_Share
0,Atlanta Hawks,82,242.7,34.9,78.5,4.9,13.9,30.0,64.5,19.4,...,0.543,0.856,0.048,297,0.276,0.397,0.0000,NaN,0.0015,0.0690
1,Atlanta Hawks,82,242.7,34.5,79.6,5.1,15.2,29.4,64.4,18.7,...,0.537,0.845,0.045,289,0.292,0.370,0.0000,NaN,NaN,NaN
2,Atlanta Hawks,82,242.1,35.9,81.4,3.7,11.9,32.2,69.5,17.3,...,0.511,0.872,0.056,354,0.265,0.295,0.0000,NaN,NaN,NaN
3,Atlanta Hawks,82,242.4,35.9,79.2,5.2,14.1,30.8,65.1,20.2,...,0.504,0.837,0.047,290,0.278,0.383,0.0000,NaN,0.0015,NaN
4,Atlanta Hawks,82,242.4,34.5,77.7,4.2,12.7,30.4,65.0,20.5,...,0.518,0.833,0.047,273,0.253,0.373,0.0000,NaN,0.0025,0.0335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,Washington Wizards,82,243.0,42.1,90.1,11.3,33.3,30.8,56.8,18.4,...,0.533,0.868,0.067,454,0.213,0.360,0.0000,NaN,0.0340,0.0025
624,Washington Wizards,72,241.0,41.5,90.9,12.0,32.6,29.5,58.3,19.4,...,0.509,0.832,0.047,276,0.167,0.388,0.0000,NaN,0.0320,NaN
625,Washington Wizards,72,241.7,43.2,90.9,10.2,29.0,33.0,61.9,20.1,...,0.501,0.880,0.055,320,0.231,0.369,0.0625,0.005,0.1860,0.0025
626,Washington Wizards,82,241.8,40.6,86.0,10.5,30.6,30.1,55.4,17.0,...,0.532,0.860,0.065,408,0.246,0.397,0.0000,NaN,NaN,NaN
627,Washington Wizards,82,240.9,42.1,86.9,11.3,31.7,30.9,55.2,17.6,...,0.508,0.862,0.059,377,0.215,0.399,0.0000,NaN,NaN,0.0025

In [103]:
column_order = stats.columns

In [105]:
combine5 = combine5[column_order]

In [106]:
merged_df = pd.concat([combine5, stats], ignore_index=True)

In [109]:
merged_df

,Team,G,MP Per Game,FG Per Game,FGA Per Game,3P Per Game,3PA Per Game,2P Per Game,2PA Per Game,FT Per Game,...,% of 2P's that were assisted,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share,DPOY_Share
0,Atlanta Hawks,82,241.5,34.3,76.9,8.0,22.4,26.3,54.5,18.2,...,0.505,0.712,0.043,259,0.146,0.410,0.266667,0.004,0.1245,1.31425
1,Atlanta Hawks,82,242.4,35.2,77.5,4.1,12.4,31.1,65.1,21.3,...,0.516,0.748,0.054,304,0.102,0.288,0.066667,NaN,0.1950,1.12575
2,Atlanta Hawks,50,241.5,30.8,75.2,3.9,12.9,26.8,62.3,20.8,...,0.477,0.716,0.037,126,0.092,0.322,0.200000,0.001,0.0815,0.79325
3,Atlanta Hawks,82,241.8,36.6,83.0,3.1,9.9,33.4,73.1,18.0,...,0.489,0.806,0.038,236,0.128,0.452,0.000000,NaN,0.0215,0.07750
4,Atlanta Hawks,82,240.6,35.1,81.3,4.1,11.4,31.0,69.9,16.8,...,0.507,0.811,0.037,224,0.228,0.371,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,Washington Wizards,82,243.0,42.1,90.1,11.3,33.3,30.8,56.8,18.4,...,0.533,0.868,0.067,454,0.213,0.360,0.000000,NaN,0.0340,0.00250
798,Washington Wizards,72,241.0,41.5,90.9,12.0,32.6,29.5,58.3,19.4,...,0.509,0.832,0.047,276,0.167,0.388,0.000000,NaN,0.0320,NaN
799,Washington Wizards,72,241.7,43.2,90.9,10.2,29.0,33.0,61.9,20.1,...,0.501,0.880,0.055,320,0.231,0.369,0.062500,0.005,0.1860,0.00250
800,Washington Wizards,82,241.8,40.6,86.0,10.5,30.6,30.1,55.4,17.0,...,0.532,0.860,0.065,408,0.246,0.397,0.000000,NaN,NaN,NaN
801,Washington Wizards,82,240.9,42.1,86.9,11.3,31.7,30.9,55.2,17.6,...,0.508,0.862,0.059,377,0.215,0.399,0.000000,NaN,NaN,0.00250

In [112]:
merged_df.fillna(0, inplace=True)

In [116]:
merged_df

,Team,G,MP Per Game,FG Per Game,FGA Per Game,3P Per Game,3PA Per Game,2P Per Game,2PA Per Game,FT Per Game,...,% of 2P's that were assisted,% of 3P's that were assisted,% of FGA that are dunks,Dunks Made,% of corner 3PA,3P% from the corner,champion share,MVP_Shares,Weighted_Share,DPOY_Share
0,Atlanta Hawks,82,241.5,34.3,76.9,8.0,22.4,26.3,54.5,18.2,...,0.505,0.712,0.043,259,0.146,0.410,0.266667,0.004,0.1245,1.31425
1,Atlanta Hawks,82,242.4,35.2,77.5,4.1,12.4,31.1,65.1,21.3,...,0.516,0.748,0.054,304,0.102,0.288,0.066667,0.000,0.1950,1.12575
2,Atlanta Hawks,50,241.5,30.8,75.2,3.9,12.9,26.8,62.3,20.8,...,0.477,0.716,0.037,126,0.092,0.322,0.200000,0.001,0.0815,0.79325
3,Atlanta Hawks,82,241.8,36.6,83.0,3.1,9.9,33.4,73.1,18.0,...,0.489,0.806,0.038,236,0.128,0.452,0.000000,0.000,0.0215,0.07750
4,Atlanta Hawks,82,240.6,35.1,81.3,4.1,11.4,31.0,69.9,16.8,...,0.507,0.811,0.037,224,0.228,0.371,0.000000,0.000,0.0000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,Washington Wizards,82,243.0,42.1,90.1,11.3,33.3,30.8,56.8,18.4,...,0.533,0.868,0.067,454,0.213,0.360,0.000000,0.000,0.0340,0.00250
798,Washington Wizards,72,241.0,41.5,90.9,12.0,32.6,29.5,58.3,19.4,...,0.509,0.832,0.047,276,0.167,0.388,0.000000,0.000,0.0320,0.00000
799,Washington Wizards,72,241.7,43.2,90.9,10.2,29.0,33.0,61.9,20.1,...,0.501,0.880,0.055,320,0.231,0.369,0.062500,0.005,0.1860,0.00250
800,Washington Wizards,82,241.8,40.6,86.0,10.5,30.6,30.1,55.4,17.0,...,0.532,0.860,0.065,408,0.246,0.397,0.000000,0.000,0.0000,0.00000
801,Washington Wizards,82,240.9,42.1,86.9,11.3,31.7,30.9,55.2,17.6,...,0.508,0.862,0.059,377,0.215,0.399,0.000000,0.000,0.0000,0.00250

In [115]:
merged_df.to_csv("combined_stats_2.csv")

In [152]:
coaches = pd.read_csv("coaches.csv")

In [153]:
coaches

,Coach,Team,Seasons With Franchise,Seasons Coaching,G (CS),W (CS),L (CS),G (F),W (F),L (F),...,G (P),W (P),L (P),G (PF),W (PF),L (PF),G (P Car),W (P Car),L (P Car),Season
0,Lenny Wilkens,ATL,4,24,82,56,26,328,201,127,...,10.0,4.0,6.0,34.0,13.0,21.0,144.0,68.0,76.0,1997
1,M.L. Carr,BOS,2,2,82,15,67,164,48,116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997
2,Dave Cowens,CHH,1,2,82,54,28,82,54,28,...,3.0,0.0,3.0,3.0,0.0,3.0,3.0,0.0,3.0,1997
3,Phil Jackson,CHI,8,8,82,69,13,656,483,173,...,19.0,15.0,4.0,131.0,96.0,35.0,131.0,96.0,35.0,1997
4,Mike Fratello,CLE,4,12,82,42,40,328,179,149,...,NaN,NaN,NaN,10.0,1.0,9.0,50.0,19.0,31.0,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Mike Brown,SAC,1,9,82,48,34,82,48,34,...,7.0,3.0,4.0,7.0,3.0,4.0,90.0,50.0,40.0,2023
802,Gregg Popovich,SAS,27,27,82,22,60,2127,1366,761,...,NaN,NaN,NaN,284.0,170.0,114.0,284.0,170.0,114.0,2023
803,Nick Nurse,TOR,5,5,82,41,41,390,227,163,...,NaN,NaN,NaN,41.0,25.0,16.0,41.0,25.0,16.0,2023
804,Will Hardy,UTA,1,1,82,37,45,82,37,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
805,Wes Unseld,WAS,2,2,82,35,47,164,70,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [154]:
coaches["Team"] = coaches["Team"].replace(team_names)

In [155]:
coaches

,Coach,Team,Seasons With Franchise,Seasons Coaching,G (CS),W (CS),L (CS),G (F),W (F),L (F),...,G (P),W (P),L (P),G (PF),W (PF),L (PF),G (P Car),W (P Car),L (P Car),Season
0,Lenny Wilkens,Atlanta Hawks,4,24,82,56,26,328,201,127,...,10.0,4.0,6.0,34.0,13.0,21.0,144.0,68.0,76.0,1997
1,M.L. Carr,Boston Celtics,2,2,82,15,67,164,48,116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997
2,Dave Cowens,Charlotte Hornets,1,2,82,54,28,82,54,28,...,3.0,0.0,3.0,3.0,0.0,3.0,3.0,0.0,3.0,1997
3,Phil Jackson,Chicago Bulls,8,8,82,69,13,656,483,173,...,19.0,15.0,4.0,131.0,96.0,35.0,131.0,96.0,35.0,1997
4,Mike Fratello,Cleveland Cavaliers,4,12,82,42,40,328,179,149,...,NaN,NaN,NaN,10.0,1.0,9.0,50.0,19.0,31.0,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Mike Brown,Sacramento Kings,1,9,82,48,34,82,48,34,...,7.0,3.0,4.0,7.0,3.0,4.0,90.0,50.0,40.0,2023
802,Gregg Popovich,San Antonio Spurs,27,27,82,22,60,2127,1366,761,...,NaN,NaN,NaN,284.0,170.0,114.0,284.0,170.0,114.0,2023
803,Nick Nurse,Toronto Raptors,5,5,82,41,41,390,227,163,...,NaN,NaN,NaN,41.0,25.0,16.0,41.0,25.0,16.0,2023
804,Will Hardy,Utah Jazz,1,1,82,37,45,82,37,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
805,Wes Unseld,Washington Wizards,2,2,82,35,47,164,70,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [156]:
coaches['Team'] = coaches['Team'].replace('WSB','Washington Bullets', regex=True)
coaches['Team'] = coaches['Team'].replace('VAN','Vancouver Grizzlies', regex=True)
coaches['Team'] = coaches['Team'].replace('CHO', 'Charlotte Hornets', regex=True)

In [157]:
coaches

,Coach,Team,Seasons With Franchise,Seasons Coaching,G (CS),W (CS),L (CS),G (F),W (F),L (F),...,G (P),W (P),L (P),G (PF),W (PF),L (PF),G (P Car),W (P Car),L (P Car),Season
0,Lenny Wilkens,Atlanta Hawks,4,24,82,56,26,328,201,127,...,10.0,4.0,6.0,34.0,13.0,21.0,144.0,68.0,76.0,1997
1,M.L. Carr,Boston Celtics,2,2,82,15,67,164,48,116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997
2,Dave Cowens,Charlotte Hornets,1,2,82,54,28,82,54,28,...,3.0,0.0,3.0,3.0,0.0,3.0,3.0,0.0,3.0,1997
3,Phil Jackson,Chicago Bulls,8,8,82,69,13,656,483,173,...,19.0,15.0,4.0,131.0,96.0,35.0,131.0,96.0,35.0,1997
4,Mike Fratello,Cleveland Cavaliers,4,12,82,42,40,328,179,149,...,NaN,NaN,NaN,10.0,1.0,9.0,50.0,19.0,31.0,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Mike Brown,Sacramento Kings,1,9,82,48,34,82,48,34,...,7.0,3.0,4.0,7.0,3.0,4.0,90.0,50.0,40.0,2023
802,Gregg Popovich,San Antonio Spurs,27,27,82,22,60,2127,1366,761,...,NaN,NaN,NaN,284.0,170.0,114.0,284.0,170.0,114.0,2023
803,Nick Nurse,Toronto Raptors,5,5,82,41,41,390,227,163,...,NaN,NaN,NaN,41.0,25.0,16.0,41.0,25.0,16.0,2023
804,Will Hardy,Utah Jazz,1,1,82,37,45,82,37,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
805,Wes Unseld,Washington Wizards,2,2,82,35,47,164,70,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [158]:
del coaches['Coach']

In [159]:
del coaches['G (CS)']
del coaches['W (CS)']
del coaches['L (CS)']
del coaches['G (P)']

In [160]:
del coaches['L (P)']
del coaches['W (P)']

In [161]:
coaches

,Team,Seasons With Franchise,Seasons Coaching,G (F),W (F),L (F),G (Car),W (Car),L (Car),W% (Car),G (PF),W (PF),L (PF),G (P Car),W (P Car),L (P Car),Season
0,Atlanta Hawks,4,24,328,201,127,1946,1070,876,0.550,34.0,13.0,21.0,144.0,68.0,76.0,1997
1,Boston Celtics,2,2,164,48,116,164,48,116,0.293,NaN,NaN,NaN,NaN,NaN,NaN,1997
2,Charlotte Hornets,1,2,82,54,28,150,81,69,0.540,3.0,0.0,3.0,3.0,0.0,3.0,1997
3,Chicago Bulls,8,8,656,483,173,656,483,173,0.736,131.0,96.0,35.0,131.0,96.0,35.0,1997
4,Cleveland Cavaliers,4,12,328,179,149,905,503,402,0.556,10.0,1.0,9.0,50.0,19.0,31.0,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Sacramento Kings,1,9,82,48,34,645,395,250,0.612,7.0,3.0,4.0,90.0,50.0,40.0,2023
802,San Antonio Spurs,27,27,2127,1366,761,2127,1366,761,0.642,284.0,170.0,114.0,284.0,170.0,114.0,2023
803,Toronto Raptors,5,5,390,227,163,390,227,163,0.582,41.0,25.0,16.0,41.0,25.0,16.0,2023
804,Utah Jazz,1,1,82,37,45,82,37,45,0.451,NaN,NaN,NaN,NaN,NaN,NaN,2023
805,Washington Wizards,2,2,164,70,94,164,70,94,0.427,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [162]:
combine5 = merged_df.merge(coaches, how='outer', on=['Team', 'Season'])

In [163]:
combine5

,Team,G,MP Per Game,FG Per Game,FGA Per Game,3P Per Game,3PA Per Game,2P Per Game,2PA Per Game,FT Per Game,...,G (Car),W (Car),L (Car),W% (Car),G (PF),W (PF),L (PF),G (P Car),W (P Car),L (P Car)
0,Atlanta Hawks,82,241.5,34.3,76.9,8.0,22.4,26.3,54.5,18.2,...,1946,1070,876,0.550,34.0,13.0,21.0,144.0,68.0,76.0
1,Atlanta Hawks,82,242.4,35.2,77.5,4.1,12.4,31.1,65.1,21.3,...,2028,1120,908,0.552,38.0,14.0,24.0,148.0,69.0,79.0
2,Atlanta Hawks,50,241.5,30.8,75.2,3.9,12.9,26.8,62.3,20.8,...,2078,1151,927,0.554,47.0,17.0,30.0,157.0,72.0,85.0
3,Atlanta Hawks,82,241.8,36.6,83.0,3.1,9.9,33.4,73.1,18.0,...,2160,1179,981,0.546,47.0,17.0,30.0,157.0,72.0,85.0
4,Atlanta Hawks,82,240.6,35.1,81.3,4.1,11.4,31.0,69.9,16.8,...,82,25,57,0.305,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Washington Wizards,82,243.0,42.1,90.1,11.3,33.3,30.8,56.8,18.4,...,791,462,329,0.584,19.0,9.0,10.0,92.0,48.0,44.0
802,Washington Wizards,72,241.0,41.5,90.9,12.0,32.6,29.5,58.3,19.4,...,863,487,376,0.564,19.0,9.0,10.0,92.0,48.0,44.0
803,Washington Wizards,72,241.7,43.2,90.9,10.2,29.0,33.0,61.9,20.1,...,935,521,414,0.557,24.0,10.0,14.0,97.0,49.0,48.0
804,Washington Wizards,82,241.8,40.6,86.0,10.5,30.6,30.1,55.4,17.0,...,82,35,47,0.427,NaN,NaN,NaN,NaN,NaN,NaN
805,Washington Wizards,82,240.9,42.1,86.9,11.3,31.7,30.9,55.2,17.6,...,164,70,94,0.427,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
combine5.fillna(0, inplace=True)

In [167]:
combine5.to_csv("final_stats_NBA.csv")